[2016-10-14 13:37] DoctorMikeReddy opened #1 "Get your previous work on github"
Can you each post an issue describing what you have done so far, please.

[2016-10-14 13:54] elliotnaylor opened #2 "Game ideas"
We've been throwing around a lot of ideas based around VR gaming.  The first game we came up with involved the user exploring a world, collecting objects, building and progressing in the world.

The second idea involved the user shrinking down to particle size and moving around from particle to particle.  The ideas were ultimately scraped due to being unable to move around an area.  The only metho

[2016-10-14 13:56] rbakerusw opened #3 "What ive done so far"
So far we have been discussing the game concept.

Individually, I have been researching different method movements in VR to try to prevent the problems surrounding motion sickness in VR. I have also been researching games that were made in VR to get some inspiration to help us come up with an idea. While doing this I have been working on unreal engine to make sure the features are doable.

[2016-10-14 13:57] elliotnaylor opened #4 "Quantum Shift (old concept)"
# Game concept
## Main concept

The character is trapped in a locked cell unable to walk around but he has a suit that allows him to shrink down to the quantum level which is then only place the character can teleport.  Something to consider is that the space is technically 3 dimensional where the ground is the actual particles, you can travel in any direction as long as you can reach it.  The qua

[2016-10-14 13:59] BojanStankovic commented on #1
Unfortunately, we still haven't come to an agreement on what the game should be. At the point it is most likely that we are going to develop a game inspired by Lemmings in which a player has an option to use a VR mode for immersed god-like feeling. The game is also playable without the VR headset. Difference from the original game of Lemmings is that our world is 3D and our actors can move in diff

[2016-10-16 14:07] elliotnaylor opened #5 "Movement/scaling discussion"
We need to decide on the best way to move the map while focusing on VR and normal PC.  Both will use completely different methods.

We've spoken about tp points and using the "walk around" with HTC vive, which we could actually use together.  While we haven't really discussed what we'd do with normal PC users.  Would we have a character model you'd move around to stick with the theme, or would we

[2016-10-17 23:32] rbakerusw commented on #5
Potentially, we could still use the teleport method or something for normal PC users but obviously it wont feel as immersive as it would in VR (but i suppose that is why we are using VR). We could possible use the same method we use for VR and change it if we have time at the end of the project or something.

As for the scaling with the ants, I'm not sure. Maybe we could have some sort of scaling

[2016-10-18 19:09] elliotnaylor opened #6 "Resetting node when location can't be reached"
**What i've done**
I decided to start working on the AI movement.  It works by simply moving from node to node all held in an array.  Each individual node will tell the AI where to move next, once it lands on that area it will start to move towards the next node.

**Idea**
Currently I have it set on a timer so if it doesn't reach a node in 5 seconds it assumes the AI is lost and sends it to the pr

[2016-10-18 19:10] elliotnaylor commented on #6
I know we haven't assigned tasks yet but I really wanted to test if the core element in the game is viable as early as possible.

[2016-10-18 19:12] elliotnaylor opened #7 "Movement stutter"
The AI moves via a tick event.  The problem is that the AIs movement will slow down heavily every tick.  It's a minor bug at the moment but i'd like to find an alternative to the tick event.

[2016-10-18 19:51] elliotnaylor commented on #7
Oops just realised I could just replace the tick with an event that triggers every time you collide with a node.  I'll try this tomorrow

[2016-10-18 20:39] BojanStankovic commented on #5
Well, polishing a detail before making some kind of actual environment might prove a bit challenging. I would suggest creating a prototype again here and develop the game and features as we go. No point in perfecting something that doesn't exist.

Now, regarding the issues you are mentioning, Ryan pretty much sums it up. Without VR we can still use the same control mechanics, but when using VR a p

[2016-10-18 20:40] BojanStankovic commented on #6
Good effort Elliot, at this point I can't give you much feedback since there is not enough info for me, but would like to hear more during the meeting.

[2016-10-20 15:41] elliotnaylor commented on #7
The above method worked perfectly.

Basically every time the player collides with a node it will set the next location and tell the AI to walk over to the location.

[2016-10-20 15:44] elliotnaylor commented on #7
Ready for merging

[2016-10-20 15:48] ghost commented on #1
Previously I have met with the group at group meetings to discuss the games direction and theme, We've come to an agreement on a Populous / Lemmings inspired 3D God game, this game will also be playable on a VR headset.  I have been working through the Unreal Engine 4's Tutorials and studying some C++ sample codes from the Unreal Forums to get a feel of the package and to gain an understanding of

[2016-10-20 15:53] #3 closed, assigned to nobody

[2016-10-20 15:56] DoctorMikeReddy commented on #1
Still not had anything from ScaryEme or napiorek!!!

[2016-10-20 16:20] ghost opened #8 "Skill: Kamikaze"
Once enabled the targeted ant has ability to destroys objects blocking pathways, such as mud, boulders, enemy Grasshoppers. (This skill can also kill nearby ants if it isn't timed correctly)

Global variables = (object target_ant = null)

Internal variables = (boolean kamikaze_enabled = false, int countdown = 5)

Objects = (explosion_collision_area  = (x, y, z))

Pseudo code:

The player targets a

[2016-10-20 16:31] ghost opened #9 "HUD and Skill System"
This is where all issues relating to the HUD (Head-Up Display) will be kept, the HUD will display information to the player including the total ants, number of ants remaining, time remaining, the mini-map, and limit of skill uses and also has clickable skill buttons and shows the players current target.

PNG format icons will need to be designed for each individual skill, these must match the them

[2016-10-20 16:38] ghost opened #10 "Object Interaction"
This issue will be dedicated to how the ants interact with objects in their environment, this can include: wood, stones, food, skill related collectables, possible enemies such as grasshoppers.

[2016-10-20 16:45] ghost opened #11 "Inspiration Thread"
This is an issue dedicated to gaining inspiration from videos and reviews on other games in the same genre, such as:

[Lemmings and Oh No More Lemmings](https://youtu.be/yXin6LxhhLA) (PSX)

[3D Lemmings](https://youtu.be/W28lyXJyAEM) (PSX)

Peter Molyneux's [Populous: The Beginning](https://youtu.be/PY5TwF_IdS0) (PSX)

Peter Molyneux's [Black and White 2](https://youtu.be/Ue4i44e_7W8) (PC)

[Pikmi

[2016-10-20 17:32] BojanStankovic opened #12 "Setting up the VCS"
I will setup and organize the VCS for the project. Currently I'm performing tests in a private repo. By next Wednesday (26.10) it will be ready to pull and the rest of the team should be able to merge (or an alternative) their contribution to the master branch.

I will also create a short document with the workflow and general guidelines as well as some kind of cheatsheet.

[2016-10-21 11:16] rbakerusw commented on #11
[Star Wars Pit Droids](https://www.youtube.com/watch?v=qI9mJ2qXkdw) (PC)

[2016-10-21 11:48] napiorek commented on #1
So far we had w three meetings, where the aim was to come up with a game concept. Encourage by Bojan, we decided to create a VR game. On the very first meeting, we agreed that we all will do some research, to find out what are the limitation we could face, eg. Movement in VR can be unpleasant for certain players.
Other limitation we faced is the controller. Initially we decided to use xbox/psp con

[2016-10-21 12:45] BojanStankovic commented on #11
[Civilization series](https://www.youtube.com/watch?v=N9NfkRGmxEc) (PC) - regarding the hex tiles

[Micro Machines](https://www.youtube.com/watch?v=Bmi0lO__G_8) (PC) - how items and actors are scaled in relation to each other

[2016-10-21 12:49] BojanStankovic commented on #6
@ScaryEme I don't know if this is done already, but just in case here is something Mike was explaining on white board - [tile system series in Unity](https://www.youtube.com/watch?v=kYeTW2Zr8NA). Idea should be the same for Unreal I suppose.

[2016-10-24 11:22] elliotnaylor commented on #6
Still haven't fixed this issue, i've done a lot of research and found that you can check if there is a valid path via a behavior tree.  I currently don't know much about how they work but I will keep researching.

[2016-10-24 11:25] elliotnaylor opened #13 "Walking off ledges"
I'm just speculating but currently the ant can only jump off a ledge where there is a link node.  So if you were to destroy a hole in the ground the ants wouldn't actually go through that hole.  This is why it was recommended to use the NAV mesh, but I currently haven't found any other viable methods.

[2016-10-24 15:28] elliotnaylor commented on #13
update:  I got the AI to move to a single location without using the NAV mesh, this means the AI will not take the safest path and can fall off of ledges.

[2016-10-27 16:19] BojanStankovic commented on #12
Third person template is uploaded to the repo as well as basic instructions for using git (CLI). I will leave this issue open at the time being  because I might modify few things as we go.

Please ask/suggest anything related to VCS here

[2016-10-27 16:25] BojanStankovic opened #14 "Workflow"
I will put suggestion for our workflow here. This will consider how we should divide tasks among ourselves and organizing it as efficient as possible. It will also explain how we will use our VCS to avoid possible problems when "merging"

[2016-10-27 17:04] elliotnaylor commented on #13
Ready for testing!

[2016-10-27 18:48] BojanStankovic commented on #13
Hey @ScaryEme, have you used/installed a "Substance" plugin by any chance? I have cloned the repo and when opening the project it said the project is using it and it needs to be installed. It is possible that the plugin is part of the University's UE4 installation, so just wanted to check it out

[2016-10-27 19:12] BojanStankovic commented on #14
As we established today, we should aim to open issues for small logical parts that will be assigned to team members as tasks. The smaller this is the better. Benefit of this approach is that we have more frequent commits in the repo which will result in two things. 1st is less chance to lose one's work and 2nd is that others can access someone's WIP and test it, suggest improvements, help etc.

Co

[2016-10-27 19:28] BojanStankovic commented on #2
Since ant people are the road we all decided to go I will close this issue

[2016-10-27 19:28] #2 closed, assigned to nobody

[2016-10-27 19:31] BojanStankovic commented on #4
Thanks @ScaryEme, great to have this documented here. Closing the issue

[2016-10-27 19:31] #4 closed, assigned to nobody

[2016-10-27 19:55] BojanStankovic commented on #14
Name you branches according to the issue they are related to. For example, Elliot has committed and pushed his work on AI movement. Issue for this is #13 so the name of the branch would be I13_Walking_off_ledges

[2016-10-27 22:56] #7 closed, assigned to elliotnaylor

[2016-10-27 23:00] elliotnaylor commented on #13
I definitely haven't, but to make sure i'll download it onto my home PC tomorrow.  I wouldn't be surprised if it is used in uni considering it reduces texture file sizes.

https://www.unrealengine.com/marketplace/substance-plugin

[2016-10-27 23:03] elliotnaylor commented on #6
We discussed in class today that we would simply have the player try to walk to the location, but if the ant hits the wall he will simply turn around and go back to the previous node.  Something i need to remember is that the ants should never actually stop moving at any point to avoid clumping.

[2016-10-28 08:27] BojanStankovic opened #15 "Interactivly add new NAV nodes"
Elliot's navigation nodes for moving the ants work nicely. They need to be added at runtime to control where the ant will go next. Assigned to myself

[2016-10-28 08:29] BojanStankovic commented on #13
Cool, thanks @ScaryEme

[2016-10-28 08:38] BojanStankovic opened #16 "Mining / Digging"
Issue for Ryan's task that enables the ants to dig through the terrain. Task's progress was initially documented in Basecamp: [Mining/Digging - basecamp](https://public.3.basecamp.com/p/pQyNhLN6Y5vqELut3hcLbDat)

[2016-10-28 08:52] BojanStankovic commented on #10
This is a bit to broad for an issue. We need to break this into smaller chunks and close this one. Ryan is already working on digging issue which is  encapsulated here as well

[2016-10-28 08:54] BojanStankovic commented on #5
Not an issue at the moment. Closing

[2016-10-28 08:54] #5 closed, assigned to nobody

[2016-10-28 08:59] BojanStankovic commented on #14
I have created some additional labels and assigned them to most of the issues. Also, we have a project management inside of github now. I suggest we use it for TODOs and their tracking, maybe some ideas, suggestions, etc.

Issues should be reserved for any work done in Unreal (features, research, bugs, etc.)

General discussions can still be done in Basecamp.

This can help keep our project very w

[2016-10-28 12:25] rbakerusw commented on #16
I am currently looking into creating a mesh and a blueprint that will cause the mesh to decrease in scale then disappear to create the effect of digging. I will also need a particle effect to make it more realistic but for now I will need to make sure the scaling works before adding anything else.

[2016-10-28 12:47] napiorek opened #17 "Ant model"
The goal is to come up with  model of ant base on human body (so the ant will walk on two legs)
Examples :
[](url)
![73938](https://cloud.githubusercontent.com/assets/22525895/19806805/05321c4e-9d15-11e6-8f04-8875e2828eab.jpg)
![l78663-cartoon-ant-43724](https://cloud.githubusercontent.com/assets/22525895/19806821/1154591a-9d15-11e6-98ec-3520c1320b83.jpg)

[2016-10-28 12:51] elliotnaylor commented on #17
The first one looks perfect for the job

[2016-10-28 12:53] BojanStankovic commented on #17
Agree, first one looks great! It would be cool if you can rig the antennas as well so they point to some direction (can be utilized later on)

[2016-10-28 13:33] rbakerusw commented on #13
I have tested the current version and so far I haven't encountered any bugs. It all seems to work perfectly.

[2016-10-28 13:33] napiorek commented on #13
Just finished the testing and it looks promising. Haven't found anything wrong with it, I also mange to add some extra node for them to follow.
:+1:

[2016-10-28 13:33] BojanStankovic commented on #13
Tested, no errors

[2016-10-28 13:34] BojanStankovic commented on #13
Merged to master. Closing

[2016-10-29 15:11] rbakerusw commented on #17
Yes, I agree with what Elliot and Bojan said. The second one doesn't really look that appealing, it looks more like an enemy compared to the first one.

I don't know what to think about the shoes though.

[2016-10-30 19:28] rbakerusw commented on #16
New update: I have created a cube that will shrink by 0.1 every second (I can alter how quick it shrinks this is just for testing purposes). I just need to add the destroy actor when it hits a certain size but i have noticed a slight issue where the shape will shrink in size from the top and the bottom so the shape starts to look like it is floating.

I am currently looking into this.

Edit: The a

[2016-10-30 20:45] rbakerusw commented on #16
I encountered a new issue where the timer would still try to shrink the box even though the box had been destroyed.

Update: I managed to fix this by destroying the trigger box as well as deleting the box.

[2016-10-31 11:38] BojanStankovic commented on #16
Even though I can't recreate the issue with scaling since I'm at work at the moment, I'm guessing that the problem is with where the origin for your geometry is positioned. Lets say you have a cube and its origin is in the centre of that object (usually the default behaviour). If you apply scale factor of <1 to it, uniformly in all directions, it will behave exactly as you would expect. All sides

[2016-10-31 19:13] rbakerusw commented on #16
I looked into changing the origin but the only guides I've found so far claim I can't do it within the engine. It says I have to use some other software to do it.

[2016-11-01 17:06] ghost commented on #17
I like the first one too, I think aiming for cartoony rather than photo realistic will make the game more fun for this genre anyways! :)

[2016-11-02 00:58] ghost commented on #9
Here's my initial concept for the players HUD and click-able skill buttons, I needed a visual image before I start writing the code.

Without a target selected the player's HUD will be clean only showing the time remaining on the level and the amount of ants on the level and how many left to complete the level. Its not decided if all levels will have a time limit but it seems a logical choice at t

[2016-11-02 01:06] ghost opened #18 "Mini-Map?"
Should we have a mini-map as apart of the HUD? What do you guys think?

[2016-11-02 10:30] rbakerusw commented on #18
We could but i'm not sure, Since you will be above looking down onto the map you should be able to see most things. If the map gets too big then we would need a mini map.

[2016-11-02 13:26] BojanStankovic commented on #14
Hi @Richard-Chaos, I noticed you have created a new branch named "RichardsBranch". We will have a approach of having branches for each issue instead of our personal branches. Could you please go through what is written in this issue, it should explain the way to do it. Since there is nothing pushed to your new branch you can delete it and create a new one according to the convention. Please feel f

[2016-11-03 16:22] elliotnaylor commented on #18
If there are 3 platforms on top of each other how would you tell which platform the ant is on.  I don't think  it's really necessary and it would limit our map designs.

[2016-11-03 16:26] rbakerusw commented on #18
What do you mean by 3 platforms?

Edit: After explaining this to me, I understand what you mean by the platforms and the fact that the mini-map would not be very effective.

[2016-11-03 16:29] ghost commented on #9
Work in progress:

Attached the HUD to the screen, Now to work on making the HUD operate correctly as I have described above, I've also changed the camera to 1st Person on my branch of the project I'll work on the camera there so it feels like a god travelling above his realm.

![capture](https://cloud.githubusercontent.com/assets/22819171/19975111/ad51b944-a1e2-11e6-9aa2-41594f17303c.PNG)

I also

[2016-11-03 16:36] ghost commented on #9
@DoctorMikeReddy To this point its a duplicate of the Basecamp thread, From now on all the updates will be written here, Instead of basecamp.
DoctorMike: Noted

[2016-11-03 17:10] BojanStankovic opened #19 "Bug with AI node movement"
I noticed a funny bug with AI movement through nodes. If for some reason we have a node that is pointing to itself or if it is the only node in the map, the AI actor will go crazy and start spinning in circles. Some boundary condition could be useful. Effect does look funny though :)

[2016-11-03 17:12] elliotnaylor commented on #19
Thanks for pointing this out! As it's unlikely to happen i'll get to it after finishing the AI just to polish it.

[2016-11-03 17:41] rbakerusw commented on #16
Bojan and Tom M helped me adjust the scale so the scaling effect will only effect an object from one side rather than an equal amount on both sides. Now all I need to add is AI to trigger the event rather than the player.

[2016-11-03 22:33] ghost commented on #9
Timer and current_ants / max_ants working and displaying on HUD Correctly, Now for the Ants name and number to be displayed when targeting an ant!

![capture](https://cloud.githubusercontent.com/assets/22819171/19991184/5e63ddd2-a22b-11e6-978b-76a8369e82ba.PNG)

[2016-11-11 13:48] BojanStankovic commented on #15
I managed to make the nodes spawn on user keyboard event. Next goal is to spawn them at the position user is looking at, snapped to the ground. I will need to setup each new node so it is connected to the previous one

[2016-11-11 14:33] elliotnaylor commented on #6
I have done a lot more testing and research and I have only ran into dead ends.  I would like to meet up and discuss this thoroughly very soon as I might have to completely restart the AI due to limitations.

[2016-11-14 12:09] rbakerusw commented on #6
Ok, when do you want to discuss this? Thursday during the lesson or earlier?

[2016-11-14 13:23] elliotnaylor commented on #6
Sounds good, I just want to hear ideas and make sure i'm going about it the right way

[2016-11-17 15:55] elliotnaylor commented on #6
A possible method I just discussed with Ryan is simply having them move to the closest node while ignoring the z (up/down) coordinate.  So at any point if an ant is stranded it will check the distance to the closest node and run directly towards it.

[2016-11-17 21:35] napiorek opened #20 "Tools"
The aim is to create a pickaxe and shovel for mining/digging animation and attached it to character.

[2016-11-17 21:37] napiorek commented on #17
This issue is ready for testing and any suggestions.

[2016-11-18 14:45] napiorek opened #21 "I21_importing a clean copy of ThirdPersonBP to the project"
I was working on my branch, trying to attach the tool to character, and it turns out that original  ThirdPersonBP has been turn into Third Person Character ( then one with integrated camera ) and second copy has the AI attached to it, hence working with it is kind of impossible as when added to scene it imminently following the node.

I tried to export clean copy of ThirdPersonCharacter from a new

[2016-11-18 15:16] BojanStankovic commented on #21
Hi @napiorek,

Let's try to keep things organised as they were. First of all, there is no need for creating a new issue if it is related to an issue already opened. In this case you should write this comment under #20 since it is part of it.
Secondly, if you are working on a new issue you are supposed to create a branch for that issue. Also, the branches belong to issues not the people who are wor

[2016-11-19 13:46] napiorek commented on #21
Ok, sorry for confusion.

[2016-11-19 13:46] napiorek commented on #20
I was working on my branch, trying to attach the tool to character, and it turns out that original ThirdPersonBP has been turn into Third Person Character ( then one with integrated camera ) and second copy has the AI attached to it, hence working with it is kind of impossible as when added to scene it imminently following the node.

I tried to export clean copy of ThirdPersonCharacter from a new

[2016-11-20 22:47] rbakerusw commented on #17
I looked at the animations and they look really good. It looked like they were realistic and no bugs so far.

[2016-11-24 10:07] rbakerusw commented on #21
Duplicate issue.

[2016-11-24 10:07] #21 closed, assigned to nobody

[2016-11-24 16:16] elliotnaylor opened #22 "Change in AI movement"
We've discussed and found the best option is to tell the AI to move in a particular direction rather than them pointing at a node.  I've tried this method before and ran into issues but i'm going to go about it in a different way.

[2016-11-24 16:17] elliotnaylor commented on #22
Just to clarify we're keeping the node to node movement for level designing.

[2016-12-01 20:20] rbakerusw commented on #16
I have uploaded a new version that is almost ready for merging after some fixes and testing.

New features:
-Trigger boxes will now only activate when a digger ant is in the box.
-Left mouse button will now highlight an ant if you are looking at one.
-Right mouse button will set a highlighted ant to dig.
-When Digging, the ant will stop moving and stand still for the rest of the level.

Need to be

[2016-12-13 19:26] elliotnaylor commented on #22
Ok, so it took me about 5 minutes to make a system where the ant will run in a specific direction.  I currently make use of North, South, East and West.  When they are called they will run in that direction.  Something else to note is that the node to node is now on a boolean so it can be turned on and off at any point.

[2016-12-13 19:27] #22 closed, assigned to elliotnaylor

[2016-12-22 13:18] BojanStankovic commented on #12
Works, closing it

[2016-12-22 13:18] #12 closed, assigned to BojanStankovic

[2016-12-22 13:21] BojanStankovic commented on #18
If I remember correctly we decided there wouldn't be much use for the mini map. I'll close it, but if any potential use for the map comes clear we can always reopen it

[2016-12-22 13:21] #18 closed, assigned to nobody

[2017-01-09 14:50] rbakerusw commented on #16
This feature has been fully implemented so I am closing the issue.

[2017-01-10 16:33] elliotnaylor opened #23 "Doesn't move perfectly in a direction"
So the AI works and the ants will move in the direction when they hit the node.  The only issue is that if I put the ant between 2 nodes that are facing each other the ant will go slightly to the right with each collision, making it walk around it.

I have experimented with the degrees and haven't found a way for it to go perfectly in a line.

[2017-01-12 15:50] rbakerusw commented on #8
What is the current thoughts about this feature?

Since I have finished the digging I am free to work on this if you want me to as long as we are still including this feature.

[2017-01-12 16:29] elliotnaylor commented on #23
Now i'm setting the direction with a tick rather than setting it once

[2017-01-12 16:29] #23 closed, assigned to nobody

[2017-01-12 16:55] elliotnaylor opened #24 "2 ants going into the same collision box"
If 2 ants go into the same collision area 1 will stop until the next collision box is hit.  I need a way of checking if multiple ants are going into a collision box.

[2017-01-19 15:37] BojanStankovic opened #25 "First deadline for a playable build"
After discussing (Piotr and Richard were consulted remotely) we decided to set 23.02.2017 as the first deadline for a playable build. Following components (only most essential features) are required to outline this build:
- Splash screen
- Start screen
- Goal
- End game conditions
- End screen
- Basic game mechanics
- UI
- A simple level that demonstrates the game mechanics

[2017-01-19 15:42] BojanStankovic commented on #16
Reopening just to remind myself to merge it

[2017-01-19 15:42] rbakerusw commented on #25
I am happy with this deadline if everyone else is as long as it doesn't overlap other coursework.

[2017-01-19 16:04] BojanStankovic commented on #8
Maybe we can have an element that will enable a self destruction on an ant when it is assigned to it. This could be a explosive acid perhaps and the ant can become extremely red just before bursting. This action would melt/destroy any objects in near vicinity that are destructible when in contact with the acid

[2017-01-19 16:18] BojanStankovic opened #26 "First level design"
A basic level must be designed which will demonstrate all the game mechanics that is already implemented (or is about to be implemented).

It must include a win/lose condition

[2017-01-19 16:22] BojanStankovic opened #27 "UI screens"
This includes:
- splash screen
- initial menu screen
- in game menu screen
- end screen (win/lose)

A hint: an "end screen" can be implemented regardless off the win/lose condition. Who ever is assigned to this task can use a dummy trigger for the end screen for development purposes.

[2017-01-19 16:29] BojanStankovic commented on #16
It seems that everything is working as expected. However I got an error warning after exiting the game. I will merge this branch now but I'll open a new issue as a bug report so we can fix this as soon as possible.

[2017-01-19 16:33] BojanStankovic opened #28 "Bug report: mining/digging"
When exiting the game there is an error warning. See the screenshot.
![bug_mining_digging](https://cloud.githubusercontent.com/assets/11376143/22115477/095eba70-de65-11e6-81a5-25ed4fbc456d.png)

The issue appears only when ant was directed to dig/mine

[2017-01-19 16:46] elliotnaylor commented on #24
After redesigning the AI movement the collision boxes no longer work.  I will keep this issue on hold until they are back up to date.

[2017-01-19 16:51] elliotnaylor commented on #24
Never mind a very simple change fixed this issue

[2017-01-19 22:27] BojanStankovic commented on #26
It would be best if everyone comes up with an idea for a level by 02.02.2017. Do what you can, it doesn't have to be perfect or implement everything we mentioned until now. When we compare individual ideas we can take bits and pieces from each one and create a single decent level (perhaps even two).

[2017-01-19 22:35] BojanStankovic commented on #16
Merged, closing

[2017-01-19 22:35] #16 closed, assigned to rbakerusw

[2017-01-19 22:39] BojanStankovic commented on #6
What is the status on this since we had some breakthroughs with AI movement? 😃
Maybe we can close the issue @ScaryEme ?

[2017-01-20 21:06] rbakerusw commented on #28
Thanks for reporting the bug, I will look into it as soon as I have time. At first glance it looks like there is an issue where the AI Ant is trying to access something it shouldn't once its set to dig but i will have to look into further to make sure.

[2017-01-20 21:18] rbakerusw opened #29 "Crosshair"
I noticed that highlighting the ants can be quite difficult since we don't have a crosshair. The user has to try and line up the ant in the centre of the screen and click. This can be a bit frustrating since it is easy to miss so I am suggesting we have a crosshair in the middle of the screen allowing the user to aim at the ant they want to.

[2017-01-20 21:23] rbakerusw commented on #26
Ok, I will try to come up with some ideas. The only issue right now is that we don't have many features for the ants to do so it is hard to think of a level when we don't know what features will be ready by then. Realistically, what features are we aiming for by then?

[2017-01-20 21:30] rbakerusw commented on #24
If this issue has been solved is it ok if we close it? So we know its finished.

[2017-01-21 19:05] BojanStankovic commented on #29
Yes! That is one of the things we should implement for the first build. Here is a link to a tutorial that helps with implementing a basic crosshair: https://www.youtube.com/watch?v=3o_cEnmKL2g

Eventually it would be nice if we manage to modify it so that the crosshair itself adopts to the geometry of the object beneath it. Consider this an icing for the cake.

[2017-01-23 02:15] ghost commented on #9
Here's the updated HUD, the graphics are currently being made for the portrait outline, ant typea, hotkey icons and the stopwatch.

![hud](https://cloud.githubusercontent.com/assets/22819171/22188945/2aa974a0-e111-11e6-8450-f25db247031a.PNG)

When you click F1 the hotkey image goes blank and the cool-down timer shows the hotkey icon then returns when the skills isn't on cool-down anymore, I plan t

[2017-01-23 02:18] ghost commented on #29
Sounds like a good idea to me guys, It'll make the game feel more intuitive for the player.

[2017-01-23 02:18] ghost commented on #27
Has anyone been assigned to this task yet?

[2017-01-23 02:19] ghost commented on #26
Ok I'll draw up a small concept level and bring it to class on Thursday to show you guys! :)

[2017-01-23 02:21] ghost commented on #25
I'm happy with it too, I'm going to do a crunch at my house the week before the deadline, anyone is welcome to come will include pizzas and munch and coffee or some drinks, we could also do this at the uni? :)

[2017-01-23 02:26] ghost commented on #17
Can we get an image of our ant model here for reference? or a small video attachment? If its possible ofcourse! :)

[2017-01-23 14:25] BojanStankovic commented on #27
You can see the "Assignees" at the top of the right sidebar in the issue, as well as some other relevant information like "Milestone" for example :wink: I took this issue 4 days ago

[2017-01-23 14:41] BojanStankovic commented on #9
Hi @Richard-Chaos,

Great work on the HUD so far. Would it be possible to finish this issue without any polishing of the graphics at this point? As we discussed in J208 last Thursday, this is not important for the first build, but the basic functionality is. Also, any new features like cool-down are a welcome addition but not crucial. Please, just wrap up the basic HUD so the rest of the team can

[2017-01-26 15:46] rbakerusw commented on #29
Ok thanks for linking the tutorial, I will look into it now and start working on the crosshair.

[2017-01-26 15:49] elliotnaylor commented on #24
It was solved in the latest commit

[2017-01-26 15:49] #24 closed, assigned to elliotnaylor

[2017-01-26 15:49] BojanStankovic commented on #13
I'm reopening the issue since some additional work was done in its branch. After a chat with Elliot he said he continued working on this branch even though it was merged and the issue related to it closed. Since no new issue was created to describe what was done, @ScaryEme could you write relevant updates here?

[2017-01-26 15:58] elliotnaylor commented on #13
Completely changed the AI and moved away from node to node movement and went onto directional movement.  The old form of movement has been kept in case of future use.

* Ant will run in set starting direction

* Added a node that sends the ant in north, south, east or west

* When an ant hits a wall and the speed is changed to 0 the ant will run in the opposite direction

[2017-01-26 15:59] elliotnaylor commented on #6
The movement has been completely changed and this issue no longer applies.

[2017-01-26 15:59] #6 closed, assigned to elliotnaylor

[2017-01-26 16:06] napiorek commented on #20
This branch is no longer needed and it will not be updated or used.
The work will continue on the branch I20_new_tool_branch

[2017-01-26 16:12] napiorek opened #30 "Dynamically changing the animiation of an ant"
Rather than remove/swap the character to perform certain activity (like digging) the blue print for swapping the ant animation is needed.

[2017-01-26 16:41] BojanStankovic commented on #13
Merging the new changes brought the bug into the master branch. This is the consequence of no tests being done by other team members before the merge. In order to prevent similar things happening in the future I will update the workflow slightly. Please refer to #14 for updates to come

[2017-01-26 16:46] napiorek commented on #20
This branch include animation for ant and tools like shovel or pickaxe.
The socket for the tool also has been added so the tool can be attached to the ant model.

[2017-01-26 16:46] rbakerusw commented on #29
I have now added a simple crosshair to the game so the player can now accurately click on ants. The crosshair is static so it doesnt react to the geometry but we can try to add that at a later date.

[2017-01-26 16:47] elliotnaylor opened #31 "Default ant direction East and South not working"
Currently setting the default value on east and south will set it to west or north.  This issue can be worked around for now since it's in the master branch but shouldn't taker long to fix.

[2017-01-26 16:47] BojanStankovic commented on #13
Since this is merged but has a bug I'm closing this issue and a new one will be opened because @ScaryEme  will branch from a buggy master

[2017-01-26 16:47] #13 closed, assigned to elliotnaylor

[2017-01-26 16:50] elliotnaylor opened #32 "Spawning ant on a node"
Spawning an ant on a node will move it in the opposite direction set on the node.  For example if the node is set to south it will move it north instead.

Note:
Only have ants move onto nodes but don't spawn them in the area.  Technically spawning the ant above the node is fine, just not in the collision area.

[2017-01-26 17:38] elliotnaylor commented on #32
In the latest commit #31 the ant will no longer turn around unless any ant has hit a node.  I will fix this bug under this title.

[2017-01-26 17:43] elliotnaylor commented on #31
This was fixed with a simple boolean change when the ant spawns.

[2017-01-26 17:43] #31 closed, assigned to elliotnaylor

[2017-01-28 20:01] BojanStankovic commented on #30
Renamed the issue to keep the consistency. GitHub automatically assigns the number for the issue.

[2017-01-28 20:07] BojanStankovic commented on #14
The latest merging introduced the bug into the master branch since we didn't discover it earlier and it became apparent only after the content was merged with the main project. This was nobody's fault but it was a consequence of the direct merging into the master. In order to avoid similar things in future I will introduce the 'dev' (development) branch that will run parallel to the master branch

[2017-01-29 00:06] BojanStankovic commented on #27
I have created a simple main menu from which it is possible to:
- start the game
- enter the options menu (WIP)
- quit the game

I used a tutorial that can be found here: https://www.youtube.com/watch?v=ulUO4EN8BG8

To do:
- ~~intro screen~~
- ~~in game menu~~
- end game message
- ~~end game menu~~

[2017-01-30 23:30] BojanStankovic commented on #27
Introduction screen is added. It is displayed when the game starts and it transitions to the "main menu" screen after seconds.

[2017-01-31 15:39] BojanStankovic commented on #27
The in-game menu is added. It is triggered by releasing the "P" key.

[2017-01-31 16:30] BojanStankovic commented on #27
The end-game menu is added. Since we don't have the end-game condition at this point I have created a variable "AntsAmount" int the level and set it to 3. By hitting the "Spacebar" key, that variable is decremented by 1. When it reaches 0, the "Game Over" menu is displayed. It also pauses the game.

[2017-01-31 16:31] BojanStankovic commented on #27
This is ready to be reviewed

[2017-02-01 17:41] rbakerusw commented on #8
Since we decided on including this feature, I will start working on it.

[2017-02-02 15:37] rbakerusw commented on #27
I just tested the menus and all the button worked fine. I could only find 1 issue with it, you have to double click on the in game menu.

[2017-02-02 15:46] rbakerusw opened #33 "Bug Report: AI Ant Keeps Moving"
With the new AI movement, there is an issue with the AI Ant. the issue is that the Ant keeps swapping direction while standing on the spot when it has been set to dig.

To recreate this bug, click on an ant and set it to dig. You will see that is keeps flipping between looking north and south or east and west.

[2017-02-02 15:57] BojanStankovic commented on #27
Fixed the focusing on the menu once it is displayed during the game

[2017-02-02 16:03] napiorek commented on #30
To create the blueprint that will change the animation of an ant I need to incorporate it with #16.
BojanStankovic sugested to create a Develop branch that will include #16 and the branch #20

[2017-02-02 16:29] BojanStankovic commented on #20
This was merged to the develop branch so @napiorek can have work done by @rbakerusw in order to continue with the tool implementation

[2017-02-02 16:29] #20 closed, assigned to napiorek

[2017-02-02 16:30] BojanStankovic commented on #29
It looks good enough for the first build. Going to merge it to the develop now

[2017-02-02 16:34] BojanStankovic commented on #29
Merged. Closing

[2017-02-02 16:34] #29 closed, assigned to rbakerusw

[2017-02-02 17:13] napiorek commented on #30
I modify the BP of the ThirdPerson so it change the Ant animation from running to digging(if triggered)

![image](https://cloud.githubusercontent.com/assets/22525895/22559990/d60643e4-e96a-11e6-84f6-8d19da76acdc.png)

[2017-02-02 17:14] napiorek commented on #30
Also added the option to pause the Ant as this was helpful during developing the game.

[2017-02-02 19:30] ghost commented on #9
I've deleted my old branch "Richard's_Branch" and created a new branch using the correct naming conventions called "I9_HUD_and_Skill_System". Its been pushed, up to date and working.  I've tested it thoroughly for errors so hopefully its fine! Still waiting on the graphics but it should do for the moment.

[2017-02-02 19:31] ghost commented on #9
Its ready for review now.

[2017-02-02 19:34] ghost commented on #27
Great work Bojan, I will test it now and leave you some feedback! :)

[2017-02-03 12:08] rbakerusw opened #34 "Bug Report: Mouse Tracer Colliding with Trigger Box"
Sometimes when you try to click and highlight an Ant to get them to dig, the tracer will collide with the trigger box. This makes it hard to select an ant when they are inside a box.

![tracerbug](https://cloud.githubusercontent.com/assets/22525915/22590880/675d0e1a-ea09-11e6-8658-9a049bb07f33.png)

At first glance, a quick fix maybe to try and lower the trigger box into the ground a bit more so i

[2017-02-03 17:33] rbakerusw commented on #8
Just a quick update. In the latest kamikaze version you can now:

- Set ant to kamikaze mode
- After 3 seconds the ant will blow up
- Destructible mesh that will get destroy if in explosion radius

Known issues:

-Explosion particle effect wont disappear after explosion (but since we are eventually swapping particle effect, this may not be a problem in the future

[2017-02-03 23:40] BojanStankovic commented on #9
It seems like all is there. I found few things that need fixing, but we'll do that as we go. I will merge it to the develop branch and report any new issues. Closing...

[2017-02-03 23:40] #9 closed, assigned to nobody

[2017-02-03 23:42] BojanStankovic commented on #14
'develop' branch was added. It's kind of a hack, but it will do what it is meant to do

[2017-02-03 23:45] BojanStankovic commented on #27
Fixing the focusing on the widget caused problems with mouse movement controls when resuming the game. When the game is resumed player can look around only while holding down any of the mouse buttons. Moving through the world is not affected

[2017-02-04 00:41] BojanStankovic commented on #27
I have disabled focusing to the "in-game menu" widget at the time being. The blueprint is still there but it is not attached to anything. I have merged it so we have the functionality of the screens. The bug is only a minor one, but I will open an issue for it. Closing...

[2017-02-04 00:41] #27 closed, assigned to BojanStankovic

[2017-02-04 00:45] BojanStankovic opened #35 "Bug report: in-game menu is not in focus"
Once the in-game menu is called by pressing the "p" key, it doesn't com into the focus and a user must click anywhere to enable the widget's functionality. There is a disabled blueprint inside of the widget that fixes this, however it also introduces the problem of losing the mouse movement control in a game once the game is resumed.

[2017-02-04 00:56] BojanStankovic commented on #14
@rbakerusw @napiorek @ScaryEme @Richard-Chaos
Now that most of the stuff we have done so far is merged on the develop I'd like to share with you a nice visual representation of what we've done so far 😉 (download the image for a nicer display at 100%)

![current_progress](https://cloud.githubusercontent.com/assets/11376143/22613947/be92dbe0-ea74-11e6-9d7c-fa93658c7bb0.png)

[2017-02-04 01:00] BojanStankovic opened #36 "Bug report: HUD and UI warning message"
Hey @Richard-Chaos , after viewing your branch I had a following message pop-up after simulating the game:

![bug_screenshot](https://cloud.githubusercontent.com/assets/11376143/22613990/127efb4e-ea75-11e6-9c46-1b9d6098c3db.png)

I'm not sure what it means and I have merged the branch anyway. If you decide to tackle this bug please create a new branch like any other, referring to this issue number

[2017-02-04 01:03] BojanStankovic opened #37 "Spawning the ants at the beginning of the level"
I was just testing Richard's branch with the HUD and realized that we don't have a spawning method for the ants. We'll have to introduce this together with a variable that will hold the current amount of the ants (antsAmount). 'antsAmount' can be then connected to the HUD where the total amount of ants is displayed

[2017-02-04 01:06] BojanStankovic opened #38 "Highlighting the ant"
As we have a crosshair now it would be nice if we could highlight the selected ant with one color (red) and possibly highlight an ant looked at with another (glowing green)

[2017-02-04 01:57] BojanStankovic commented on #38
I'll give this a go. Found few tutorials:

https://www.youtube.com/watch?v=IEHxjw6VEMQ
https://www.youtube.com/watch?v=j8gjvKyaQuU

[2017-02-04 13:51] rbakerusw commented on #37
I think Elliot said he was going to start working on a spawner at the start of each level for the ants. I'm not sure if he has started it or not since he was ill this week. It might be best to message him first to ask.

[2017-02-04 14:03] BojanStankovic commented on #38
Well, a first attempt was a massive failure. After creating the material from the tutorial (because the sample content doesn't include it anymore) the only effect I was getting is this strange one:

![image](https://cloud.githubusercontent.com/assets/11376143/22618997/89e94140-eae2-11e6-83e3-2d0d06b1f828.png)

Oh, and the material was reporting a compilation error. I will take more look into how t

[2017-02-04 16:38] BojanStankovic commented on #37
I have only opened the issue and left it unassigned. If he started doing it already he was supposed to open the issue, if not and he is about to start, then he has the issue ready 😉

[2017-02-09 14:41] elliotnaylor opened #39 "Sometimes the ants won't turn around"
Occasionally the ants won't turn around after stopping against a wall.  But will then turn around when another ant hits a collision box and resets the direction boolean.

This issue rarely happens and I haven't found the main cause for it.

[2017-02-09 14:45] elliotnaylor commented on #37
Still working on polishing the AI but I will assign this to myself as soon as i'm happy

[2017-02-09 15:19] elliotnaylor commented on #39
The issue actually stops the ant turning around when hitting a wall facing north and south if a collision box hasn't been hit

[2017-02-09 15:32] rbakerusw commented on #34
I have created a temporary fix for this by altering the Z value so the trigger box only covers the ants feet and not their whole body.

[2017-02-09 15:32] napiorek commented on #30
Button 2 will trigger forward digging (horizontal) and button 3 will trigger digging in vertical direction ( down) and in both cases the animation will be assign accordingly

[2017-02-09 15:33] napiorek commented on #30
Task has been accomplished, ready for testing!

[2017-02-09 16:04] BojanStankovic commented on #30
Tested and merged to 'develop'. Great stuff. Closing

[2017-02-09 16:04] #30 closed, assigned to napiorek

[2017-02-09 16:24] BojanStankovic opened #40 "Solving merge conflicts"
@DoctorMikeReddy

This issue's main purpose is just to point on how solving merge conflicts for blueprints is done at the moment and how it could be done more efficiently. Especially with larger teams and bigger projects.

Current scenario:
At least two people are working on the same blueprint. At the beginning of the projects this doesn't happen but it will happen later down the development proce

[2017-02-09 16:30] napiorek opened #41 "Attaching the tool to an Ant"
This is to spawn a tool on the event of changing ant status, e.g. from running to digging.

[2017-02-09 17:26] elliotnaylor commented on #39
Ok so the entire system where the ant is hitting the wall is extremely faulty.  I will have to rewrite it from scratch to make a better version.

For the sake of the first demo I am going to remove the faulty code and commit the working version.  It is possible to use the directional blocks instead of the wall collision for now.

[2017-02-09 21:06] rbakerusw commented on #8
I have updated this. changes:

- Balanced impulse of explosion
- Decreased radius of explosion
- Skill is now linked to key 4 not 2
- Debris now disappears after a certain amount of time

Just need to decide how long the delay for the explosion will be.
What happens if the explosion hits the ant.

[2017-02-10 00:24] BojanStankovic commented on #40
I have done some research and it looks like the only way to create custom nodes at the moment is by using C++, which is cool but not very useful to us. I have made a feature request that can be found here:

https://answers.unrealengine.com/questions/560943/feature-request-custom-blueprint-nodes.html

[2017-02-11 13:53] BojanStankovic commented on #40
Apparently we can use Macros to solve this issue. I'm looking into it.

[2017-02-11 17:07] BojanStankovic commented on #40
Great news! Macros seem to be doing what I originally wanted. The process of creating a macro is not difficult and I will write a short tutorial soon. Following screenshots show an implementation of a macro for switching the animations done by @napiorek in #30

Original Third Person Character blueprint:
![macros_03](https://cloud.githubusercontent.com/assets/11376143/22855656/d3a0af00-f07b-11e6-90

[2017-02-11 17:11] BojanStankovic opened #42 "Implement Macros for the existing blueprints"
With the implementation of Macros, blueprints become cleaner and easier to maintain and work on with other people. Macros also enable code reuse throughout the project with a restriction that a Macro library must be the same class type as the parent class for whatever the Macro is going to be used with.

The existing blueprints should be cleaned up.

[2017-02-11 17:19] BojanStankovic commented on #42
The documentation and the tutorial used to implement Macros:
https://docs.unrealengine.com/latest/INT/Engine/Blueprints/UserGuide/Macros/
https://www.youtube.com/watch?v=pj5buBQ0lHU

[2017-02-11 17:25] BojanStankovic commented on #34
Merged. Closing

[2017-02-11 17:25] #34 closed, assigned to nobody

[2017-02-11 17:26] ghost commented on #42
Hey bojan, I've already used functions for code reuse throughout the hud class, is that ok?

[2017-02-11 17:28] BojanStankovic commented on #42
I'm not sure. The purpose of the Macros might be different. Read the documentation I posted a link to, as well as go through the tutorial so you can compare them to the functions.

[2017-02-11 19:43] DoctorMikeReddy commented on #40
That's brilliant news. You've taught me something new!

--
WiMii?

[2017-02-11 19:56] DoctorMikeReddy commented on #40
There is a diff tool for Blueprints built into UE4. This will help in manual merges.

--
WiMii?

[2017-02-11 20:36] BojanStankovic commented on #40
Thanks Mike! I'll take a look on how the diff tool works

[2017-02-12 15:46] BojanStankovic commented on #40
This branch won't be merged since it was used in testing purposes only. Issue #42 deals with implementation of Macros into the project. Closing

[2017-02-13 01:34] BojanStankovic commented on #42
AI_Ant and ThirdPersonCharacter blueprints now have macros. The level blueprint is different than any other blueprint and at this point I didn't find a way to have a separate macro library for it. Instead I have just used the macros to contain the mess of nodes in logical parts.

The problem with the level blueprint might be solved if the level code is done somewhere else. I'll ask this on the 2nd

[2017-02-13 12:30] rbakerusw commented on #8
This should be ready for testing now. To test it, drag a destructible mesh onto the screen from the meshes folder. Place an ant near the destructible and click on the ant and press 4 after a slight delay the ant should blow up.

[2017-02-14 15:38] elliotnaylor commented on #37
I'm starting on this today ready for the first build.

[2017-02-14 16:04] elliotnaylor commented on #19
I'm going to shelf this one for now considering we have moved away from node to node movement.  If we go back to it I will reopen this issue

[2017-02-14 16:04] #19 closed, assigned to elliotnaylor

[2017-02-14 16:38] elliotnaylor commented on #32
This is no longer an issue in the latest version after remaking it.  I will be closing this as it's no longer an issue and ii'll be committing it under issue #39

[2017-02-14 16:38] #32 closed, assigned to elliotnaylor

[2017-02-14 16:39] elliotnaylor commented on #39
I improved on the code and now it is all working as expected.

[2017-02-14 17:10] #39 closed, assigned to elliotnaylor

[2017-02-14 18:22] elliotnaylor commented on #37
I implemented a basic spawner, but the AI that was spawned by the spawner don't obey the same rules i've set to the ones I spawned myself.  The ants will turn in the set direction but only run in 1 direction.  This is very confusing to me since the AI ant has code that makes the ant run in the direction it's facing.

[2017-02-14 18:42] elliotnaylor commented on #37
After testing I found the get control rotation isn't working with dynamically spawned actors.  I can't find a fix for this so i'm going to upload the current version and discuss it with my team.

[2017-02-16 13:49] ghost opened #43 "Bug: HUD displaying over Main Menu"
A bug has turned up from recent merges to the master branch that causes the HUD to be shown while the player is on the Main Menu and Introduction scenes, this is unintentional and needs to be fixed.

I’ll assign myself to this issue and attempt to resolve it.

[2017-02-16 14:05] ghost commented on #43
I’ve manage to isolate the bug and fix it, the HUD is only displayed while a player is on a Level scene as intended.

This issue is ready for review and merging.

[2017-02-16 14:21] ghost commented on #36
Ok I’ll get right on fixing this bug, I have an idea of what might be causing it.  It shouldn’t be to difficult.

[2017-02-16 15:37] rbakerusw commented on #8
The kamikaze skill has been moved to a macro to prevent merging conflicts.

[2017-02-16 15:46] rbakerusw opened #44 "Bug report: Ant can use more than one skill"
Currently there is an issue in the game that allows the ants to be set to digging then the player can set the ant to something else even though it has been used.

I will work on fixing this bug when I have time. At first look, we may need an additional variable to prevent the ant from being used again.

[2017-02-16 15:54] BojanStankovic commented on #8
Works, merged into the develop. Closing...

[2017-02-16 15:54] #8 closed, assigned to rbakerusw

[2017-02-16 15:54] BojanStankovic commented on #42
Tested and merged. Closing...

[2017-02-16 15:54] #42 closed, assigned to BojanStankovic

[2017-02-16 15:56] rbakerusw commented on #28
I have noticed that this error not only appears when you use the digging skill but it appears for every skill you use.

[2017-02-16 16:00] elliotnaylor commented on #37
The turning of the ants is now fixed along with a working spawner, about to commit.

[2017-02-16 16:02] ghost commented on #26
Here's some preliminary ideas, I know its 2 dimensional but I had no idea how to draw a 3D level, But the ideas are transferable, While doing this I think for later on the ability to stop ants in their track and make them carry on again would be useful?

The ants spawn at the beginning of the level and make their way to the finish point overcoming all obstacles. Hopefully the Key should explain al

[2017-02-16 16:11] ghost commented on #26
For now we can jut let the ants fall down the holes but later on maybe the flying / gliding skill can be used to safely make the land? :)

[2017-02-16 16:15] elliotnaylor opened #45 "Merge to develop"
There are going to be a lot of conflicts and there aren't that many changes so I am going to do it by myself.

[2017-02-16 16:33] BojanStankovic opened #46 "Implement Macro Lib into the level blueprint"
@DoctorMikeReddy suggested to find out if there are Macros that are already available in the level blueprint. It turns out that the "2D Execution Macro" is available. Its parent class type is Actor. Testing this out now

[2017-02-16 17:02] BojanStankovic commented on #46
Choosing the Actor as a parent class for the Macro library used in a level blueprint worked! We now have a nice workflow system regarding the versioning control system and binary blueprints :smile:

Merged (with no conflicts). Closing

[2017-02-16 17:02] #46 closed, assigned to BojanStankovic

[2017-02-16 17:33] elliotnaylor commented on #45
I am not going to commit this to the develop branch yet because the kamakaze macro is not outputting an explosion even when set.  I changed it as a test earlier but it hasn't changed back.

[2017-02-17 12:16] rbakerusw opened #47 "Bug report: digging/mining is treated as one"
There is an issue when you set an ant to digging or mining where they dig both ways. For example, if you set an ant to mining he can dig down and forwards and the same for setting an ant to digging. We need a way to separate the 2 so mining will only go forwards and digging will only go down.

Since I created the digging/mining I will try to look at my code to solve this issue.

[2017-02-17 12:25] elliotnaylor commented on #33
This is on my side, the code currently swaps the ant in opposite direction when movement is 0.  So I have added a boolean in #45 called used which you can call in the animations.

[2017-02-17 12:26] elliotnaylor commented on #33
Ryan is going to walk me through doing it, since it's his code.  Took 2 seconds

[2017-02-17 12:31] rbakerusw commented on #28
I should be able to fix this issue by using the variable "used" that Elliot created to prevent the ants from being accessed.

[2017-02-17 12:32] elliotnaylor commented on #1
This is old, good bye

[2017-02-17 12:32] #1 closed, assigned to napiorek, elliotnaylor

[2017-02-17 12:33] napiorek commented on #41
Spawning the different tool for each animation is working now.

[2017-02-17 12:34] napiorek commented on #41
Now I just have to change the pivot of the static mesh of the tool, and after excessive research I come to the conclusion that this should be done in 3D program like 3D Max or Blender, rather than in UE4.
Source - https://forums.unrealengine.com/showthread.php?1140-Manually-changing-the-pivot-of-an-actor

[2017-02-17 12:34] elliotnaylor commented on #10
Actually reading this issue again, coins might be a really good idea.  So there are more difficult paths that the user can take to get rewards.  It can be added at a much later date

[2017-02-17 12:36] napiorek commented on #17
Ant model has been chosen and already used in the game, hence this issue can be closed

[2017-02-17 12:36] #17 closed, assigned to napiorek

[2017-02-17 12:37] elliotnaylor commented on #15
We've moved away from using nodes but I will reopen this if we start using them again

[2017-02-17 12:37] #15 closed, assigned to BojanStankovic

[2017-02-17 12:40] elliotnaylor opened #48 "First spawning ant will run in opposite direction"
The first ant coming out of the spawner will always run in the opposite direction set on the spawner.

[2017-02-17 12:47] #37 closed, assigned to elliotnaylor

[2017-02-17 14:25] elliotnaylor opened #49 "Ants stack when running into block being dug"
When the ant is digging the block movement isn't 0 which means the ants won't turn around.  This means the ants will stack at this time.

I can fix this by turning the ant on collision with the block as well as movement being 0

[2017-02-17 14:37] BojanStankovic commented on #45
Since #33 was branched from the branch for this issue it contains all the updates. Therefor, the branch for this issue will remain unmerged. Closing

[2017-02-17 14:37] #45 closed, assigned to elliotnaylor

[2017-02-17 14:38] BojanStankovic commented on #33
Merged, contains all changes done in #45. Closing

[2017-02-17 14:38] #33 closed, assigned to nobody

[2017-02-17 15:21] ghost commented on #43
In this bug fix I've changed the project settings so that the “Introduction” scene is the first scene shown when the game is built as a stand-alone application.  I’ve also set the default scene opened by the game engine to “ThirdPersonLevel” as its the one we're currently implementing features too.

For the “Introduction and Main Menu” scenes the Game Mode should be set to “GameMode” This is the d

[2017-02-17 15:35] BojanStankovic commented on #43
Works! Merged and fixed the merge conflicts by doing some manual recreation. It seems that by modifying the settings.ini related to a level modifies that level somehow as well. I don't know what exactly though. Closing

[2017-02-17 15:35] #43 closed, assigned to nobody

[2017-02-17 15:38] BojanStankovic commented on #15
@ScaryEme
How have we moved away? We still have the nodes that change the direction of an ant, no? Is there a different way to change the direction of an ant?

[2017-02-17 17:18] BojanStankovic commented on #26
As we discussed of Facebook I have created a branch for the level design for each of us. Branches are named I26_YOUR-NAME_first_level_design. You can name your level FirstLevel_YOUR-NAME so we don't have merge conflicts and we can potentially keep all the levels

[2017-02-20 17:49] elliotnaylor commented on #26
We can't exactly start making the levels because we're missing direction change nodes.  This is the main mechanic and it would be pointless to make a level without it

[2017-02-20 17:52] BojanStankovic commented on #26
And what are the nodes in the test level being used right now? They seem like they are changing the direction

[2017-02-20 17:52] elliotnaylor commented on #26
But we need the ants to be able to place them

[2017-02-20 17:59] BojanStankovic commented on #26
We need many things still, however not all of them can be implemented for the final deadline, let alone for the 1st build. What we do need for the first build is a demonstration of what have we currently been working on and that requires some kind of a level with at least minimal interaction (like mining and digging). If you don't feel like creating a level that is perfectly fine. You can focus on

[2017-02-20 19:47] elliotnaylor commented on #26
Yeah I see your point.  We already have the method for spawning objects from an ant, should I implement it into a tool just so we can make some better levels?

[2017-02-21 10:41] elliotnaylor opened #50 "Ant tool that spawns direction node"
This is usually Ryans job but considering all the code is there and the change direction node is my work I figured I would implement it into a tool.

[2017-02-21 10:43] elliotnaylor commented on #49
Still slightly buggy, but good enough for the first build of the game

[2017-02-21 11:02] elliotnaylor commented on #50
Just finished adding.  If any of you have any recommendation for controls then i'd like to hear them.

Current controls:
5 = north
6 = south
7 = east
8 = west

[2017-02-21 11:14] elliotnaylor commented on #50
It's kind of hard to tell where the ant is going so i'm adding an arrow to show the direction the ants will run in.  This is on the change direction node

[2017-02-21 11:36] elliotnaylor commented on #50
This is now finished and ready for merging

[2017-02-21 18:02] rbakerusw commented on #28
I was looking into this error and weirdly it only seems to affect a specific ant each time. there was about 10 ants in the game and I set them all to dig one by one yet as you can see from the screenshot the error only appeared on ant 5 and not all of them.

I am not sure what causes this since only one ant had the error when I did the same test for each one.

![i28_bugproof](https://cloud.githubu

[2017-02-21 18:10] rbakerusw commented on #44
I think I have now fixed this issue to prevent the ants from being used more than once.

[2017-02-21 18:23] rbakerusw commented on #47
I have now separated the 2 types of digging. There are now 2 trigger boxes, one should be used when you want to dig and the other for when you want to mine.

This way digging will no longer trigger mining and vice versa.

[2017-02-21 18:39] BojanStankovic commented on #47
This is ok as a temporary solution, however we will have to come up with a way that will enable the tool to be triggered anywhere on the map. There is really no point if a certain tool can be activated only where level designer decides it can be used. Sometimes you want to provide several possible outcomes at a single position on a map, but only one will enable solving the puzzle (or passing to th

[2017-02-22 00:10] BojanStankovic commented on #49
Works. Merged. Closing...

[2017-02-22 00:28] BojanStankovic commented on #50
This works great @ScaryEme! The way user interacts will have to be modified, but the current keys 5, 6, 7, 8 are good enough. Maybe we can put them on WASD since they modify the direction of movement. Anyway, good work here.
Merged with no conflict. Closing...

[2017-02-22 00:28] #50 closed, assigned to elliotnaylor

[2017-02-22 00:29] BojanStankovic commented on #48
Sometimes two ants run into the opposite direction. Have you tried increasing the interval between the 2 spawns?

[2017-02-22 15:03] napiorek commented on #38
After building my map prototype I realized how crucial that highlighting is for our game. It would my massively helpful to know if the ant was highlighted or not.

If visual highlighting the ant turns out to be too difficult to implement, the way around it could be a sound effect as we already have a bool in BP is_highlighted.

[2017-02-22 15:15] napiorek commented on #26
It's hard to come up with something interesting if we only got two features that the ants can use, hence here is what I come up with. Initially my idea was to create the spiral stairs where ants could climb up,but very quickly I realized that our camera could not follow the ants as it's attached to 3rd person 👎
any way, here is a quick demo, ver2 showing what would happened if player accidently hi

[2017-02-22 15:24] BojanStankovic commented on #38
That is 100% true and I will to come up with a way of doing it visually. In the meantime try to create a level as much as you can so we have something to show.

[2017-02-22 18:49] BojanStankovic commented on #38
A simple ant highlight is enabled now, however once the ant is selected it doesn't get deselected when another and is selected. Current implementation is primarily for the development and testing purposes.

[2017-02-22 18:50] BojanStankovic commented on #38
Also, be sure to checkout the branch "I38_Temporary_Ant_Highlighting" of you want to test it

[2017-02-22 21:23] BojanStankovic commented on #26
Yeah, we should probably remove the body for the ThirdPersonCharacter so it can move more freely around the map. I see what you mean by having a hard time coming up with a level. Additionally I'm having issues with the box that is removed on digging/mining. It happens that the ants just fall through it. I'll open an issue for it

[2017-02-22 21:26] BojanStankovic opened #51 "Ants fall through the diggable box"
For some reason ants fall through the box they are supposed to dig instead of walking over it. Just by quick overview I couldn't find the cause for this. There is also an issue with the box that is supposed to be mined where some ants will walk through it.

We might need to come up with a different solution for destruct-able boxes.

[2017-02-22 22:24] rbakerusw commented on #51
Hmm, thats weird everything was working fine on the previous build. Must be something to do with the ants collision possibly.

[2017-02-22 22:33] BojanStankovic commented on #51
It can be seen in action on my level design branch I26_BOJAN_....

[2017-02-22 22:46] rbakerusw commented on #51
Yeah, I have noticed it in mine to. It happens once you start digging block then the other ants will ignore it but only when one is in the middle of digging.

[2017-02-23 14:30] napiorek commented on #51
That does not happens to me, when one Ants digging other just bounce off the cube and run in opposite direction.

[2017-02-23 14:31] rbakerusw commented on #51
I started working on my level again today and the issue no longer occurs for some reason so I'm not sure what caused/causes it.

[2017-02-23 14:34] BojanStankovic commented on #51
That is very strange. We should look more into this during the class today

[2017-02-23 15:10] elliotnaylor commented on #51
This was caused by the ants stack branch.  Where I stopped the ants being blocked by the cube in order to get a collision trigger to turn it around.  This works fine with the mining block, but at the time I didn't realize the mine and the dig block were the same thing

I'll just disable the ants stack fix for now and come up with a better way to fix it

[2017-02-23 16:37] elliotnaylor opened #52 "Important: Second build"
We need to polish some features and add some new tools before the second build, in order of importance:

These 2 have to be completed by the next build time
- New levels (learn as you go through)
- End condition (almost implemented, just broken)

These are extra, so if you find time implement them, otherwise leave it as it is
- Flying camera (boundaries might be needed)
- Timer needs to be impleme

[2017-02-23 16:42] elliotnaylor commented on #38
Works perfectly!  I also changed the speed of the ants and the speed the ants spawn (quick fix).

[2017-02-23 18:51] BojanStankovic commented on #38
Tom helped with returning the original colour once the ant is not selected any more. Merged. Closing

[2017-02-24 10:18] napiorek commented on #41
Adjusted the pivot of the Shovel and scaled it so it looks better in the hand of Ant.  Also added the texture for shovel so it look more realistic now.

[2017-02-24 10:20] napiorek commented on #41
All done and ready for review and to be merge  @BojanStankovic !

[2017-02-24 10:24] napiorek commented on #26
First build done and presented in class. All conclusions are being discuses in the issue #52  Important: Second build.

[2017-02-24 10:29] napiorek commented on #48
Ryan (@rbakerusw)found out that placing the wall just behind spawner or directional node underneath the spawner seems to solve the issue.
If we all agree that this is a acceptable solution, then we can consider this problem as solved.

[2017-02-24 10:32] napiorek commented on #25
First playable build done and conclusions are being discuses in the issue #52 Important: Second build.

[2017-02-24 10:34] napiorek opened #53 "Tutorial_digging"
The aim is to create a single game level where we can introduce digging(using shovel) feature to user as part of the game/tutorial.

[2017-02-24 10:36] napiorek commented on #53
I will create the branch as soon as my previous issue (#41 )will be merge with develop. @BojanStankovic

[2017-02-24 10:38] napiorek opened #54 "Tutorial_mining"
The aim is to create a single game level where we can introduce mining (using PickAxe) feature to user as part of the game/tutorial.

[2017-02-24 12:01] elliotnaylor opened #55 "End condition"
I am about to start working on implementing the end condition to the game.  Whether it's win or lose.

[2017-02-24 12:16] BojanStankovic commented on #26
@napiorek The branch related to this issue was not merged and it was not supposed to be closed until merged.

[2017-02-24 12:40] BojanStankovic commented on #26
I merged Ryan's level into the develop branch. I believe that a bug with ants passing through the blocks was solved on this branch, but I didn't want to introduce those changes to reduce the chance of braking the project. If I remember correctly it was a small change but I don't know on what exactly and Elliot told me he did some other changes that shouldn't be merged so I took the safest route. D

[2017-02-24 12:40] #26 closed, assigned to BojanStankovic, napiorek, elliotnaylor, rbakerusw

[2017-02-24 12:42] BojanStankovic commented on #25
Sorry @napiorek for re-opening one more of the issues you closed, but I need to merge the 1st build into the master before closing the issue 😜

[2017-02-24 12:47] BojanStankovic commented on #25
Merged into the master branch. Tested, works. Closing the 1st build

[2017-02-24 12:47] #25 closed, assigned to nobody

[2017-02-24 14:18] elliotnaylor commented on #55
Currently I finished implementing an end goal, which will print a message saying the ants have won if the amount of ants hit a set amount.

[2017-02-24 14:38] elliotnaylor commented on #55
Just finished adding the end game to the tools, so once all ants are used or destroyed it will print an end game message

[2017-02-24 14:43] elliotnaylor commented on #55
Currently they only print messages but I intend these to be replaced with an end game hud that has been implemented

[2017-02-24 15:25] BojanStankovic commented on #48
I would suggest that instead of a wall we use one of the directional nodes as a part of the spawn box. This will look nicer and it will be placed on the scene together with the spawn box

[2017-02-25 14:31] BojanStankovic commented on #38
I forgot that the outline for the ant being looked at is missing so I'm re-opening the issue. After an extensive search for the relevant instructions on how to do this I realized it is quite difficult for my level of knowledge so I asked a friend for some help. Thanks to Rodrigo there is now very good tutorial on this topic which can be checked out here:
https://www.youtube.com/watch?v=rL7VUeZzRyQ

[2017-02-25 16:04] BojanStankovic commented on #38
Outlining of the ant is now turned on/off depending if the ant is looked at or not. Ready for the review and merging

[2017-02-25 18:34] BojanStankovic opened #56 "Compilation warning on the Kamikaze node"
The Kamikaze macro node is producing a warning when compiling a ThirdPersonCharacter. This needs to be solved by the 2nd build

[2017-02-25 18:44] BojanStankovic commented on #37
@ScaryEme What happened with this issue? I know we have a spawner now but I can see that the branch is not merged. Was it recreated in one of the other branches or some other scenario occurred?

[2017-02-25 18:56] BojanStankovic commented on #41
Unfortunately this is not ready to merge. The shovel is not in the good possition and there is something wrong with the 3rd person character's view. Screenshots attached
![3rdpersonview_bug](https://cloud.githubusercontent.com/assets/11376143/23333892/fe27bc44-fb8b-11e6-919e-0c2db511e3ea.png)
![shoveldisplacement](https://cloud.githubusercontent.com/assets/11376143/23333893/ff4072b0-fb8b-11e6-9702

[2017-02-25 19:07] BojanStankovic commented on #41
Another issue **not** related to @napiorek is that this branch is still not using macros. I will create a new branch from the current develop and manually recreate as many changes as possible. This would have to be done anyway so lets do it the safe way with a new branch.

[2017-02-25 20:26] BojanStankovic commented on #41
@napiorek A new branch, named **I41_Attaching_the_tool_to_an_ant**, has all the changes done on the branch ~~I40_Attaching_the_tool_to_an_ant~~ as well as the latest stuff from the develop branch. It also introduces a compiling error when migrating to macros. We can try to fix this next week.

[2017-02-26 14:58] rbakerusw commented on #37
I am pretty sure he recreated on a different version so the other branch was merged instead since it was more up to date.

[2017-02-26 20:22] elliotnaylor commented on #37
Forgot to mention that I added this to the develop branch manually as there would be too many conflicts.  It was just easier

[2017-02-26 20:39] BojanStankovic commented on #37
It doesn't look like you added it to the develop, it must have been done somewhere else but it remained undocumented. Please try to document what you do. It is actually more important than making the game  😃

[2017-02-27 10:22] napiorek commented on #41
That weird view is because I change the  3rd person mech to Ant, but we already agree to get rid of 3rd person .

[2017-02-27 10:24] napiorek commented on #41
Did you push the I41 branch, as I'm not able to checkout in to it ?

[2017-02-27 10:27] napiorek commented on #41
Solved ! Turns out I had to checkout to develop and pull the latest build ;)

[2017-02-27 10:29] BojanStankovic commented on #41
It is pushed. You can always double check it on here on GitHub. As for the weird view it is true that we will get rid of the mesh, but I still can't merge something that has an obvious bug. What was the reason for changing the mesh? Maybe you can revert it back to original one?

I'm free if you need any help with git

[2017-02-27 11:23] napiorek commented on #38
Tested the feature and it's great. It bring the whole new experience to the game and it will give the player greater control over the game/ants.

[2017-02-27 11:25] napiorek commented on #38
Found the bug where once the ant is highlighted and activated ( let's say - its digging ) and you hover the cursor over this ant - all the other ants that run through it will be highlighted as they will stay highlighted.

Here is the rec

https://www.youtube.com/watch?v=3WdDpIkMnZQ&feature=youtu.be
![highlight bug](https://cloud.githubusercontent.com/assets/22525895/23359718/82322e62-fcdf-11e6-827

[2017-02-27 11:28] napiorek commented on #41
Many thanks to @BojanStankovic  for solving the compiled error on this branch !
Now I can carry on and polish the pivot/offset of the tools

[2017-02-27 13:20] napiorek commented on #41
I'm currently having an Issue on the new branch (I41_Attaching_tool_to_an_ant)
The animation switching is working, but no tool is being attached, where on my previous branch I40_Attaching_tool_to_an_ant it works fine (beside the pivot).

[2017-02-27 13:23] napiorek commented on #41
To try to solved it I manually copied the BP mechanism from I40 to I41 branch and that didn't work.
Will try something else, but any ideas/suggestions are welcome !

[2017-02-27 14:01] BojanStankovic commented on #41
Branch I41 has nothing special about it. As I wrote when I switched it, I recreated what I saw was changed. I might have missed something and that is why you need to go through it and check what might be missing. This would have to be done anyway since the old branch was not using macros and was completely incompatible with the current state of the project.

Try to go through what you did on the o

[2017-02-27 14:48] BojanStankovic commented on #41
Ok, I fixed the problem of tools not being spawned. The problem was in a duplicated logic for animation switching. I have modified the animation switcher macro so it has outputs in order to continue the logic for tool spawning after this macro node. The duplicate logic is removed.

The tool spawning node logic still needs to be placed in a macro but there is an issue around it that causes a compil

[2017-02-28 13:04] elliotnaylor commented on #48
This is a fair and easy method and won't even need a push.

[2017-03-01 17:09] BojanStankovic opened #57 "Adding some sounds eventually"
We'll have to add at least some basic sounds to our game. This could help:

http://www.sonniss.com/gameaudiogdc2017/

[2017-03-02 14:56] rbakerusw commented on #56
I will try to look into solving this.

Edit: I just downloaded the latest version and I'm not seeing the error. Do you know how to recreate this error?

[2017-03-02 14:56] elliotnaylor commented on #57
Good idea, we'll add sounds after the levels are done

[2017-03-02 15:10] elliotnaylor commented on #48
Peter just tested this while making an ant and it's not a suitable method, i'll work on it now

[2017-03-02 15:12] rbakerusw commented on #56
I just looked at the network graph realized that the compiling error is on I41_Attaching_Tool_To_Ant

Edit: nevermind it is on the develop branch

As discussed with Elliot the error is due to a triggerbox but the trigger box is going to be removed in the latest version anyway so this does need to be fixed.

[2017-03-02 15:19] rbakerusw commented on #48
Why is it not a suitable method? What was wrong?

[2017-03-02 15:20] elliotnaylor commented on #48
Spawning inside the box doesn't count as collision.  So it would have to fall onto it or something, i'm looking into why the first ant is being strange

[2017-03-02 15:25] rbakerusw commented on #54
I could work on this, if no one else is already.

[2017-03-02 15:28] elliotnaylor commented on #38
This comes under issue #44 as the ant shouldn't be highlighted after it's been used anyway.  So once that is fixed this one will be as well

[2017-03-02 15:40] elliotnaylor commented on #56
The error is caused because it's referring to the out of bounds box that doesn't exist.  This will no longer be an issue when #55 is merged.  Closing branch

[2017-03-02 15:49] BojanStankovic commented on #54
Take it

[2017-03-02 15:52] BojanStankovic commented on #38
All of this is true, but I'm bug will still be present. It has to do with how an and stops being highlighted. I'll look into this and fix it.

[2017-03-02 16:18] elliotnaylor commented on #55
Added the actual end game screen, deleted the ants after a short amount of time and fixed a small bug where the end game screen wouldn't appear.  The only noticeable issue now is that the ants can end the game early by applying multiple tools to an ant.  This can be fixed in #44

[2017-03-02 16:56] napiorek commented on #53
While creating the tutorial map for digging I realize that ant is bouncing off the cube that it should dig through. So this is preventing the ant form stepping over the cube so the Ant currently can't dig vertically ( down ) if it can't climb on that cube first ?

[2017-03-03 12:19] ghost opened #58 "Flying Camera"
As discussed in class the camera can be improved on by changing it to a flying first person camera and removing the attached character model.  I feel this will allow the player to navigate throughout the level with ease. Also, the ability to see the level from an aerial view allows the player to make more informed choices.

[2017-03-03 12:21] ghost opened #59 "Bug Report: Level Timer"
The level’s timer isn’t currently taking a value from each level, a variable should to be created in the level blueprint to store this value and every second this value needs to be decremented by 1 second.

If the timer reaches zero the game should be exited, this counts as a secondary end game condition.

[2017-03-03 15:00] ghost commented on #59
This issue has been resolved, the macros and “ants_needed” variable needs to be present in every level blueprint otherwise the timer won’t work as designed.

[2017-03-03 16:01] ghost opened #60 "Bug Report: Current and Needed Ants"
The HUD isn’t displaying the how many active ants there are on level and the number of ants needed to reach the finish line.

This bug can be fixed by creating a variable on each level to store the number of ants needed to finish a level and every second counting how many ant actors are active on a level, doing it every frame would slow the game down.

[2017-03-03 16:19] ghost commented on #60
This bug has been fixed, the HUD is now displaying the current number of ant actors on the level in real time and ants needed to complete the level which is stored on each level as the “ants_needed” variable.

[2017-03-03 16:19] ghost commented on #60
This issue is ready for review!

[2017-03-03 16:27] ghost commented on #52
The issue regarding the timer has been implemented in branch #59.  A secondary end game condition is complete, its triggered when the levels time runs out.  In the future, it needs to return the player back to the main menu but for the moment it fits the requirements of the 2nd build.

The bug that caused the HUD to incorrectly display the number of active ants on the level and number of ants requ

[2017-03-03 16:53] ghost commented on #36
I’ve managed to fix this bug; the warning messages no longer show in the message log. This issue is now ready for review and merging, it can then be closed.

[2017-03-03 16:55] ghost commented on #55
As a side note, I’ve added a secondary end game condition.  When the levels timer runs out the game now ends.  I’ve implemented this in the branch dedicated to issue #59.

[2017-03-03 16:58] ghost commented on #10
I agree its a good idea to include collectables to get the player to choose harder methods of completing the level, in the future its possible to include trophies into the game for collecting all the collectables, this would be a cherry.

[2017-03-03 17:08] ghost commented on #38
I was going to add I've noticed the green highlighting bug, but you guys already noticed it.

[2017-03-03 17:33] ghost opened #61 "Bug Report: Warning in ThirdPersonCharacter Blueprint"
There's a warning message displayed in the ThirdPersonCharacter Blueprint regarding the KamikazeAnimation macro, I'm not sure how this effects the game but I thought I'd point it out.

I noticed it while creating the flying camera.

![image](https://cloud.githubusercontent.com/assets/22819171/23561726/5f5f03b4-0037-11e7-9058-45cfc9b76e4c.png)

[2017-03-03 17:35] ghost commented on #58
I’ve implemented a solution for this which keeps the camera locked to the floor, removes the character model, walking animations and camera movement.  I’d like to show you guys in class Thursday if your happy with the implementation we can merge it.

[2017-03-03 17:39] BojanStankovic commented on #56
This is not merged into the develop and therefore it has no place in the closed issues. As a result, a duplicate issue is opened by Richard.

Please don't close issues that haven be resolved.

[2017-03-03 17:41] BojanStankovic commented on #61
This is a duplicate of issue #56

Closing...

[2017-03-03 17:41] #61 closed, assigned to nobody

[2017-03-03 17:44] BojanStankovic commented on #58
You can work on it in this issue's branch and push it for the review. No need to wait for Thursday.

[2017-03-03 17:47] ghost commented on #58
Yes, I realised that was unnecessary.  I’ve pushed the solution to this issues branch, this issue is now up for review, leave me some feedback.

[2017-03-03 21:01] ghost opened #62 "Suggestion: Reset Level Option"
I think its going to be necessary for our game to include a reset option, possibly as a choice on the in-game pause menu.  As there are certain situations that could occur than makes it impossible for the player to complete the level.  I've seen this feature in other games within this genre and it works well.

What do you all think?

[2017-03-03 21:12] BojanStankovic commented on #62
I agree. It can improve the user experience because right now if user wants to restart the level they need to go to the main menu first.

[2017-03-06 18:08] napiorek commented on #58
Just tested it, it's  flying on x and y axis but I could not go up ? (z axis)
And if you look at the map, the camera is still attached to the 3rd person.

![58_camera](https://cloud.githubusercontent.com/assets/22525895/23622827/0a889630-0298-11e7-8be0-d16dd2280a1d.JPG)

[2017-03-06 18:16] napiorek commented on #60
Tested, seems to work fine

![image](https://cloud.githubusercontent.com/assets/22525895/23623204/0d91f5be-0299-11e7-9bf4-12b1f5674da6.png)

[2017-03-06 18:20] napiorek commented on #53
Anyone have any suggestion how or if we can implement digging if the Ants are bouncing of the digging box ?

[2017-03-06 18:52] napiorek commented on #53
I know that you guys were working on digging (@rbakerusw) and Ant IA (@ScaryEme).
I know that the Ant should collide with the DiggingBP box, but can we create separate material so the Ant would not to collide with ?

[2017-03-06 18:58] napiorek commented on #53
I cloned the Cube_BP from DiggingBP folder and just break the links to disable collisions.
![image](https://cloud.githubusercontent.com/assets/22525895/23624718/a7ac9186-029e-11e7-9952-4a5330b0665b.png)

It works, but do we need to have a separate trigger box as well ?

[2017-03-06 19:28] elliotnaylor commented on #62
I love this idea as you wouldn't always be able to get to the end of the level depending on how many ants you've wasted, i'll add it to the build 2 list #52

[2017-03-06 19:33] elliotnaylor commented on #53
Could you explain this to me when I see you next? I think it'll be easier to sort in person

[2017-03-06 19:40] napiorek commented on #53
The trouble is that we need the Tutorial lvl for next game demo ...

[2017-03-06 19:43] napiorek commented on #53
After intensive testing I conclude that now Ants falling through the box :(

[2017-03-06 20:50] napiorek commented on #41
Fixed the collision Ants with a tool  (PickAxe)

![image](https://cloud.githubusercontent.com/assets/22525895/23629069/68787858-02ae-11e7-8f92-18ea4a3f3c81.png)

[2017-03-06 21:01] napiorek commented on #41
Ready to be review and merge

[2017-03-06 21:45] elliotnaylor commented on #53
You need to set the block collision to custom and select to block type ant.  This is fixed in one of my unmerged builds

[2017-03-09 14:10] rbakerusw commented on #58
Is there any bounds checking to prevent the camera from going too far from the level?

[2017-03-09 15:30] rbakerusw commented on #62
We just need to add a restart button to the pause menu so the user can retry the level. We already have a button that resets the game.

[2017-03-09 15:36] rbakerusw opened #63 "Adding Some Artwork"
I noticed the issue about sound and thought maybe we could add some art assets as well.  Here is a website that has some free assets [www.turbosquid.com](url) for artwork. (Make sure they are free to use and not stolen from anyone)

P.S. This is where we got our ant model from.

[2017-03-09 15:44] elliotnaylor opened #64 "Using Gource to show work during presentation"
We discussed in class today that we can use Gource to show how much work we have done over the year.  This will look really cool and demonstrate to mike the amount of work we have put into the game.  Below is an example video:

https://www.youtube.com/watch?v=cNBtDstOTmA

[2017-03-14 13:08] BojanStankovic commented on #44
Tested, merged! Closing

[2017-03-14 13:08] #44 closed, assigned to rbakerusw

[2017-03-14 13:42] BojanStankovic commented on #47
Merged. Closing

[2017-03-14 13:42] #47 closed, assigned to rbakerusw

[2017-03-15 10:06] BojanStankovic commented on #55
A reminder here: develop branch is broken by this merge so @ScaryEme and I need to fix it as soon as possible because nothing else can be merged at this point.

Things broken:
- goal doesn't remove the ant
- end condition isn't triggered (only the one with spacebar is)
- Kamikaze ant doesn't get removed after the explosion

[2017-03-15 20:20] BojanStankovic commented on #55
@ScaryEme fixed this. The problem was with references. This is now fully merged into the develop and operational. Closing the issue

[2017-03-15 20:20] #55 closed, assigned to elliotnaylor

[2017-03-15 20:59] BojanStankovic commented on #59
This had two minor things needed fixing. One was that the modifications done inside the level blueprint were done using level's internal macros so I recreated this using the macro libraries like we have done everything else. The other thing is that I connected the timer runs out event to the End Game screen instead of game exiting on it's own.

Merged. Closing

[2017-03-15 20:59] #59 closed, assigned to nobody

[2017-03-15 21:33] BojanStankovic commented on #60
Tested this and merged manually since the modifications used level's internal macros. I recreated the modifications using the external macro libraries. @Richard-Chaos we have been using Macro libraries that live outside of level blueprint. In case you are not sure how it works just let me know and I'll explain it to you. It's quite straightforward 😃

NOTE: the maximum amount of ants shown on the H

[2017-03-15 21:33] #60 closed, assigned to nobody

[2017-03-15 21:35] BojanStankovic commented on #58
I removed the "review me!" tag since this is still WIP. Those two tags shouldn't be valid for an issue at the same time

[2017-03-15 23:08] BojanStankovic commented on #41
Tested, merged. Closing

[2017-03-15 23:08] #41 closed, assigned to napiorek

[2017-03-15 23:20] BojanStankovic commented on #36
Tested. Merged. Closing

[2017-03-15 23:20] #36 closed, assigned to nobody

[2017-03-15 23:23] BojanStankovic opened #65 "Message log errors"
After lot of merging today we have some errors in the message log after playing the game. We should probably deal with them at some point. I attached the screenshot:

![errorlog](https://cloud.githubusercontent.com/assets/11376143/23975007/63af9df4-09d6-11e7-99c4-3670ab7d653b.png)

[2017-03-16 12:21] napiorek commented on #63
And tools, like shovel or PickAxe :)

[2017-03-16 14:13] rbakerusw opened #66 "Bug Report: Scaling of the diggable blocks"
Currently there is an issue with the scaling of the blocks you can dig/mine. The scaling is set by default to 2 so you cannot have custom shaped blocks to dig/mine.

I will work on this straight away since we have to use the block in a specific way due to the restrictions of the scaling.

[2017-03-16 15:11] #56 closed, assigned to nobody

[2017-03-16 15:27] rbakerusw commented on #66
This issue has now been fixed, you can now create custom shaped digging blocks. Also, I had to fix the mining trigger box due to a compiler error.

[2017-03-16 15:35] elliotnaylor commented on #60
I looked into it we currently can't actually attach the max ants set in the spawner to the level unless we use C++

https://answers.unrealengine.com/questions/214248/how-do-i-get-a-reference-to-the-level-blueprint.html

[2017-03-16 15:40] rbakerusw opened #67 "Bug Report: Timer does not fit on screen"
Half of the timer is cut off the screen when the game is running.

Here is a screenshot:
![timer](https://cloud.githubusercontent.com/assets/22525915/24004668/d0839bbe-0a5e-11e7-80f1-fce6c277c28f.PNG)

[2017-03-16 15:46] rbakerusw opened #68 "Ant should follow a block as it shrinks (Digging)"
Currently, when a block is being dug the ant does not move with it. We should set it so the ant follows the block as its being dug to make it more visually appealing.

Here is an example of the issue:
![movementbug](https://cloud.githubusercontent.com/assets/22525915/24004978/adc44a00-0a5f-11e7-9885-abba726df985.PNG)

[2017-03-16 15:48] rbakerusw commented on #67
Richard has told me this is not a bug, the timer appears correctly when the game is in a separate window but not in the editor.

[2017-03-16 15:48] #67 closed, assigned to nobody

[2017-03-16 16:40] napiorek opened #69 "Tutorial instructions"
@BojanStankovic  had idea to add the pop-ups messages on tutorial maps with the instructions for the player.

[2017-03-16 16:51] rbakerusw opened #70 "Adding some basic colour to blocks"
I think we should add some basic colours to the different cubes throughout the game so it makes it easier for the player to see what blocks is part of the map and which ones can be dug etc.

Maybe we could have something like:

- grey for mining to look like a stone
- brown for digging to look like dirt
- maybe we can leave the basic map white

[2017-03-17 20:47] BojanStankovic commented on #38
I was trying to fix this for last two days but with no progress. The problem is that if two ants get outlined at the same time, only the last one being looked away from gets the outline removed.

I can't see how current logic could handle this. The only thing that comes to mind is to store the outlined ants in the array and on every tick check if they are still in the crosshair area. If they are n

[2017-03-17 23:06] BojanStankovic commented on #38
The last approach worked. This does bring some message log errors because the code is trying to set a boolean of sometimes non-existing objects. However, if I check for the existing object with the 'Is Valid' block it breaks the outlining feature.

For the time being I will leave the errors in and fix them at the later time.

The bug fix is part of the develop. Closing the issue. Any new bugs foun

[2017-03-17 23:06] #38 closed, assigned to BojanStankovic

[2017-03-17 23:43] BojanStankovic commented on #48
I have fixed this by adding four walls as a part of the spawner object. The walls are not visible but they do detect collision depending on the direction set in the spawner. This can be a solution for this one so we can focus on other things.

Someone should review so we can merge and close it

[2017-03-17 23:47] BojanStankovic commented on #65
Additionally, my fix for outlining for #38 introduced a new error in the message log. It is due to a lack of validation if an object exists when trying to set one of its variables.

[2017-03-18 10:35] napiorek commented on #48
Tested and could not found anything wrong except one minor thing.
First two ants are closer than the rest of ants, and I suspect this is because first ant going in opposite direction and bounce off the invisible wall.

![image](https://cloud.githubusercontent.com/assets/22525895/24071279/39d5f1da-0bc6-11e7-9529-4af48009e6e3.png)

Any way, well done on solving this issue @BojanStankovic

[2017-03-18 10:43] napiorek commented on #66
Tested and it works great, the cube shrinks from it's original size as intended.
Also feature was only triggered when pressed 3 (digging) and ignored button 2 that is linked to mining(with pickaxe) so it works as designed :)
![image](https://cloud.githubusercontent.com/assets/22525895/24071340/38cc4b3a-0bc7-11e7-8986-ec1b2c62ea90.png)

Good work @rbakerusw

[2017-03-18 10:46] napiorek commented on #68
It turns out that with latest version the ant does follow the block, although it only work in vertical mode (digging)
![image](https://cloud.githubusercontent.com/assets/22525895/24071365/e844470c-0bc7-11e7-92a1-fc976b3d3e15.png)

[2017-03-18 10:48] napiorek commented on #68
For mining(horizontal) we would have to update the pos of the ant correspondingly to shrinking cube to make the illusion that ant follows the block

[2017-03-18 12:29] BojanStankovic commented on #48
That is right, the first two ants are closer together because the first one collides with the wall first and then changes the direction to a correct one. That's how we had it with the additional cube object placed next to spawner. Maybe we could fine tune it so the walls are closer to the spawning position so the gap should be closer to the supposed one. For now this will do.

Merged. Closing

[2017-03-18 12:29] #48 closed, assigned to elliotnaylor

[2017-03-18 12:32] BojanStankovic commented on #53
Is this one solved than @napiorek and @ScaryEme. Looks to me like it is but don't want to close it because I'm not sure. If it is sorted and merged from somewhere else just reference it to that issue and close this one

[2017-03-18 12:40] rbakerusw commented on #68
I was talking to Tom about this and he suggested that when you trigger the digging, to perform ray casting to detect the distance of the block and when the distance gets too high move the ant forward so it always maintains the correct distance.

[2017-03-18 17:14] BojanStankovic commented on #66
Merged into develop. Closing

[2017-03-18 17:14] #66 closed, assigned to nobody

[2017-03-19 01:43] BojanStankovic commented on #62
I have added the "Restart Level" button to the end game screen and the pause game screen

[2017-03-19 12:41] BojanStankovic commented on #70
I would like to take this because I want to play with the materials in UE4 a bit 😃

[2017-03-19 14:15] BojanStankovic commented on #70
I created two basic materials. One for the mining blocks and one for diggable area. Textures used for them were acquired from here:
http://freepbr.com/materials/limestone-rock-pbr-material/

These materials still require some improvement, but for the purpose of differentiating them during gameplay they should do fine for now.

[2017-03-23 15:33] rbakerusw commented on #68
I will try to fix this issue.

[2017-03-23 15:53] napiorek commented on #53
Maps done
 I'v introduce digging to the player on two occasions, first where there is no real lost if player will missed the ant or misused the digging feature(ants will just go past the digging cube and bounce off the wall and comeback) and the aim here is to give the player some experience of digging feature.
On the second occasions the player is require to be more precise, if not, then he might

[2017-03-23 16:06] napiorek commented on #70
Just tested it and have not found any flaws. Well done @BojanStankovic :+1:

[2017-03-23 16:11] napiorek commented on #62
Tested the "Reset" button and it works, so it can be merge.

[2017-03-23 16:26] elliotnaylor commented on #51
I fixed this issue by removing my ant stack #49 fix.  This is not a massive issue so i'll reopen it #49 as a minor bug

[2017-03-23 16:26] #51 closed, assigned to nobody

[2017-03-23 16:31] #49 closed, assigned to elliotnaylor

[2017-03-23 16:37] elliotnaylor opened #71 "Stacking ants 2"
This is an old issue #49 where the ants stack while the box is being dug.  I am going to fix it again as there are separate dig and mine blocks now.

I haven't come up with a solution next so I hope to fix it in the future

[2017-03-23 16:37] rbakerusw commented on #54
I was working on some bugs so now @napiorek has agreed to do it instead.

[2017-03-23 16:51] napiorek commented on #58
Hi @Richard-Chaos, can You update us on the progress of this issue ?
As currently @BojanStankovic discover the bug that involve the 3rd person character.
It's to do with ending condition(flag) so during a game, if 3rd person character (that camera is attached to) will step on this flag it freeze the 3rd person character in this position and you can not move the camera any more.

It not gonna be an

[2017-03-30 11:12] BojanStankovic commented on #62
Merged. Closing

[2017-03-30 11:12] #62 closed, assigned to BojanStankovic

[2017-03-30 11:26] BojanStankovic commented on #70
Merged. Closing

[2017-03-30 11:26] #70 closed, assigned to BojanStankovic

[2017-03-30 11:30] BojanStankovic opened #72 "Ability to disable certain features"
We need to be able to disable following features per level basis for the player:
- digging
- mining
- kamikaze
- level timer

The reason for this is to have levels that do not allow use of these features for the purpose of tutorials and a more diverse level creations. Any new feature that influences the player's control over the game should have the ability to be disabled by level design.

[2017-03-30 11:40] BojanStankovic opened #73 "Switch ant animation to "dying" after done working"
Once the ant is done with digging/mining, instead of simply removing the ant it should perform a dying animation first and sink into the ground. When the dead ant is not visible on the level anymore we should remove it completely as we are doing it now.

Alternatively, when the dying animation is finished the ant can fade out before being suddenly removed.

[2017-03-30 12:33] BojanStankovic commented on #53
The map was mistakenly done inside of the ThirdPersonExampleMap and the DiggingTutorial_map was just a copy of the example map. I duplicated the example map in the branch #53 with the correct name and place it in the develop branch instead of the non-modified digging tutorial map.

Additionally I have discovered a bug with the ant spawner that doesn't direct the ants as it was supposed to do. I'll

[2017-03-30 12:33] #53 closed, assigned to napiorek

[2017-03-30 12:36] BojanStankovic opened #74 "Bug report: spawner still doesn't direct the ant as required"
I thought I fixed this problem by adding invisible walls to the spawner without any collision for them and then enabling the collision base on the direction ants are supposed to go to. However, a direction node was there all the time so the ants would go in the right direction because of it during the tests.

I'll fix this ASAP

[2017-03-30 13:59] BojanStankovic commented on #74
This was an easy fix. The type of collision being set depending on the direction passed was wrong. It should work now

[2017-03-30 15:02] rbakerusw commented on #74
I just tested this feature and it works fine. The first ant will go in the direction you set and will no longer run off in a random direction.

[2017-03-30 15:07] BojanStankovic commented on #74
Merged. Closing

[2017-03-30 15:07] #74 closed, assigned to BojanStankovic

[2017-03-30 15:20] BojanStankovic opened #75 "Bug report: ants don't get removed on digging map"
Once the ant is done working it doesn't get removed on the digging map. It does get removed on the example map however.

[2017-03-30 16:04] elliotnaylor opened #76 "Making a new map problem"
When making a map you will have to have the ThirdPersonCharacter and the goal referenced to the spawner otherwise the ants won't be deleted.

Remember this for when new maps are created!

[2017-03-30 16:17] BojanStankovic commented on #75
The problem was with spawner not being referenced in the ThirdPersonCharacter and the "end goal". This needs to be done for any new level, even if duplicated from an existing level. See #76 for details.

Merged and checked by @ScaryEme, @napiorek and me during the bug solving. Closing

[2017-03-30 16:17] #75 closed, assigned to nobody

[2017-03-30 16:18] BojanStankovic commented on #76
LEAVE THIS ISSUE OPENED UNTIL THE END OF THE PROJECT OR CHANGING THE WAY OBJECTS ARE REFERENCED!!!

[2017-03-30 16:28] BojanStankovic opened #77 "Bug report: Logic that belongs to ants should be part of the AI_ant blueprint"
Many of the logic used by ants is stored in the ThirdPersonCharacter and this is starting to cause issues with controlling the specific ant. The result we get currently is that the actions designated for one ant get assigned to another one as soon as it is re-selected. This could be avoided with the logic for the ant being stored in the ant blueprint itself instead of coming up with many workaroun

[2017-03-30 16:28] napiorek commented on #73
With a help of @BojanStankovic  and Thomas I manage to add the dying animation before the ant is being deleted.

This solution only works if the animation will be finished before we highlight another Ant

Edit by Bojan:
~~This bug was reported at 77~~
The reference to issue 77 was put here due to a miscommunication. Issues are not linked

[2017-04-17 20:28] BojanStankovic opened #78 "Engine version 4.13.2 and Windows 10 Creator Update potential clash"
Unfortunately, for some reason engine version 4.13.2 is broken on my machine. The problem I'm having is that I don't get the Nodes menu pop-up in blueprints. So on right click or dragging from one of the existing nodes doesn't get me anything even though I can see to tooltips when moving the cursor (see the screenshot).
![untitled](https://cloud.githubusercontent.com/assets/11376143/25103318/f6ee0

[2017-04-17 20:29] BojanStankovic commented on #77
Due to a problem described in #78 I can't work on my machine.

[2017-04-24 10:58] BojanStankovic commented on #78
I finally found the solution to this problem. It is a bug caused by the Windows update. More information here:

https://answers.unrealengine.com/questions/483838/editor-right-clickdrop-down-menu-invisible.html#answer-484658

[2017-04-24 10:58] #78 closed, assigned to nobody

[2017-05-03 11:03] napiorek opened #79 "UE version in J208"
I tried to run our game on one of the PC at J208 and apparently the engine version has been updated to 4.15 and 4.14.3
The version we were using in our project is no longer available (4.13).

![ue version](https://cloud.githubusercontent.com/assets/22525895/25657964/5462c2c0-2ff8-11e7-88c1-03db067b536a.png)

![warning](https://cloud.githubusercontent.com/assets/22525895/25657967/58d1303a-2ff8-11e7

[2017-05-03 12:07] rbakerusw commented on #79
Do you know if any other pcs have updated?

[2017-05-03 12:13] napiorek commented on #79
I only checked a few of them, and lucky some PC's still got the 4.13 version on it.

[2017-05-03 13:28] napiorek commented on #73
This issue is now resolved/done. Just finished it now and tested myself.
Current delay is set for 3 seconds and it looks right but in future this can be dependent on the digging/mining time length.

[2017-05-04 12:13] BojanStankovic commented on #73
By testing the branch I noticed that the dying animation is working for the mining ability but it doesn't work for digging ability.

[2017-05-04 12:25] BojanStankovic commented on #79
Mike answered this issue on the helpdesk repo. Mike's answer:
"Right, short term get Rob, Mike or Martin, the CS technicians to install 4.13 on your machine. I'll email them and ask for 4.13 to be put in all the PCs"

Closing...

[2017-05-04 12:25] #79 closed, assigned to nobody

[2017-05-04 13:16] napiorek commented on #73
This has been corrected now so it's working for digging and mining.
Thanks for pointing this out @BojanStankovic  !

[2017-05-04 15:42] rbakerusw commented on #28
Does anyone know if we still get this issue? because I have noticed this error does not appear all the time. The error is not game breaking though, well at least I haven't noticed anything break.

[2017-05-04 22:22] rbakerusw commented on #57
Did we make any progress on the sounds or are we going to leave it out since it is close to the deadline?

[2017-05-04 22:24] rbakerusw commented on #10
Should we close this issue? I dont think anyone is working on any object interaction right now and since we are 4 days away from the deadline is would seem pointless to try it.

[2017-05-04 22:49] rbakerusw commented on #63
I was talking to Richard Tuesday and he said he might add some artwork sometime this week. I will have to double check to see if he is going to do it.

[2017-05-05 14:20] rbakerusw commented on #68
Hey guys, i was wondering if you could help me with something I was using a ray tracer to try and calculate how far the block is away from the ant but I am not sure how to calculate the distance using the ray tracer. For now I am going to do a simple implementation that just makes the ant move forwards.

[2017-05-05 15:13] ghost commented on #58
Hey guys, I've updated the camera its now working as it should be. Can you test it to see if it feels right to you? It feels alot easier to play the game now.

I'm creating a new issue for the level boundaries now.

[2017-05-05 15:15] ghost opened #80 "Level Boundaries"
This issue will cover creating level boundaries so the player can't walk away from the scene.  I will make it easily implementable to new levels.

[2017-05-05 15:28] rbakerusw commented on #68
I run into a slight problem, I tried to move the ant but I couldn't get it to move successfully. I'm not sure what is preventing it from moving,  I have uploaded what I have done so far. All the code is within the animation switcher macro for now.

[2017-05-05 15:29] BojanStankovic opened #81 "Compile the executable"
As the final thing we need an executable for the presentation day, as well as the link to it for the Blackboard submission. @Richard-Chaos said he can do this so I will assign him to it.
Richard, until we don't merge everything that needs merging, can you do a test build for the executable with the current Develop branch?

[2017-05-05 15:30] ghost opened #82 "Presentation"
This issue will be dedicated to the presentation that will be displayed on 10th of May, It will be a slide show with an embedded video in the same format as an E3 Game presentation.

Edit by Bojan:
All of us should write here what we did during the project so that Richard knows what to put into the presentation, that is, to demonstrate something from each one of us. I'm just gonna reference rest o

[2017-05-05 15:50] BojanStankovic commented on #82
I have organized the project on github and created a project development workflow which was eventually used  by the team. Additionally I did research on improving the workflow with git to avoid constant merge conflicts. This resulted in using Blueprint Macros which are extensively documented on our github project and are big part of our code structure.
When it comes to game features I added the ou

[2017-05-05 16:11] ghost commented on #80
This issue has been resolved a Level Boundary has been placed on the ThirdPersonLevel, If you need to implement it into another level just copy and paste it and it'll work.

[2017-05-05 16:14] ghost commented on #77
I will add this to my extras section once I'm finished with the presentation. If I have time I'll resolve this issue atm its low prority.

[2017-05-05 17:22] elliotnaylor commented on #82
I have worked on the movement of the ants as well and the start and end conditions.  This might not seem like much but I re made it about 6 times running into different problems along the way.

[2017-05-05 18:29] rbakerusw commented on #82
I worked on the abilities the ants can use, I created the digging and the mining. I also created the kamikaze feature for the ants although I think we decided not to use it in the final build.

While working on the digging I created the feature that allowed us to select the ants so you can select each ant and tell it to perform a task. I did some level design, creating the level we used for our de

[2017-05-07 10:35] napiorek commented on #82
I worked on the Model of the main character of the game (Ant) and later, with the help of @MahoneyT, we created all the animation for the ant, such as running, mining, digging, falling or dying although not all of them are currently used in the game.  I also created a socket in the ant model so variety of tool or weapons can be attached (pickaxe, shovel). Then I created the Blueprint to allow dyna

[2017-05-07 18:54] rbakerusw commented on #68
I have tried to implement a basic version of this but when I use the blueprint SetActorLocation its seems to have no effect on the location of the ant. Im not sure what is causing it not to move.

[2017-05-08 19:45] napiorek commented on #80
Just tested it and looks fine, just the height of the boundaries was to low but this can be easily adjustable.

[2017-05-08 20:24] ghost commented on #81
Here's the executable build which is up to date with current branches, there are afew bugs which only show up in the executable version. Such as the Red highlinging of the ant not showing but it does in the Game Engine version.

[2017-05-08 20:40] ghost commented on #81
[World of Ants - Executable](https://www.dropbox.com/s/iobh8h3li2dfobi/World%20of%20Antz.7z?dl=0)

[2017-05-09 10:52] ghost commented on #82
Here's the current presentation, feel free to check over your slide and add what you want, I've put bullet points so you can expand on it with speaking.

[World of Antz.pptx](https://github.com/PlaceholderGames/VnD_Game/files/986362/World.of.Antz.pptx)

[2017-05-09 16:14] BojanStankovic commented on #82
I'm guessing this is supposed to be used for the post-mortum part since during the E3 style presentation there shouldn't be any "who's done what" mentioning. The team I was part of in the first year did that mistake because we understood the coursework specification wrongly.

The video on the second slide, is it a placeholder video or are we using that one?

[2017-05-10 01:41] ghost commented on #82
Yeah I realised that here's the updated one with the trailer.

[World of Antz](https://github.com/PlaceholderGames/VnD_Game/files/988459/World.of.Antz.pptx)

[2017-05-24 20:27] DoctorMikeReddy commented on #64
This would have been interesting!

[2017-05-24 20:27] #64 closed, assigned to nobody

[2017-05-24 20:45] DoctorMikeReddy commented on #40
Assigned to me and Reopened so I can make notes on this for future years.

[2020-11-07 12:13] #40 closed, assigned to DoctorMikeReddy